.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.banner-alls__pages {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 36%;
  overflow: hidden;
  border-radius: 20px;
}
.banner-alls__pages img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.videos-about__pages .videos-about__mains {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.abouts-sevice__pages {
  background-color: #C6E9F8;
  margin-bottom: 200px;
}
.abouts-sevice__pages .container {
  -webkit-transform: translateY(105px);
          transform: translateY(105px);
}

.top-abouts__sevice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.top-abouts__sevice .text-top__abouts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 600px;
  margin-left: 20px;
}

.list-abouts__sevices .row > [class^=col] {
  margin-bottom: 40px;
}

.items-abouts__sevices {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 40px;
  min-height: 240px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-filter: drop-shadow(0px 5px 10px rgba(6, 34, 50, 0.1));
          filter: drop-shadow(0px 5px 10px rgba(6, 34, 50, 0.1));
}
.items-abouts__sevices:hover, .items-abouts__sevices:focus {
  background-color: #2EA1DB;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.items-abouts__sevices:hover img, .items-abouts__sevices:focus img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.items-abouts__sevices:hover .names-abouts__sevices, .items-abouts__sevices:focus .names-abouts__sevices {
  color: #FFFFFF;
}
.items-abouts__sevices:after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0px;
  bottom: 0px;
  width: 45%;
  height: 1px;
  padding-top: 50%;
  background: url(../images/after-sevice-abouts.png) no-repeat center;
  background-size: cover;
}
.items-abouts__sevices img {
  width: 64px;
  height: 64px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-bottom: 15px;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.items-abouts__sevices .names-abouts__sevices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0C2054;
  position: relative;
  z-index: 10;
}

.data-abouts__visions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-data__visions {
  text-align: center;
}
.items-data__visions img {
  margin-bottom: 20px;
  height: 50px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.items-data__visions .titles-transform__alls {
  color: #788197;
}
.items-data__visions .number-abouts__visions {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}
.items-data__visions .number-abouts__visions:after {
  content: "";
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  width: 36px;
  background-color: #E2E7E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.slide-abouts__visions {
  position: relative;
  z-index: 100;
}
.slide-abouts__visions .swiper-button-prev,
.slide-abouts__visions .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.slide-abouts__visions .group-btns__showss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1px;
  width: 100%;
  z-index: 10;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.slide-abouts__visions .group-btns__showss .showss-button-prev,
.slide-abouts__visions .group-btns__showss .showss-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1000px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0px;
  color: #788197;
  font-size: 24px;
}
.slide-abouts__visions .group-btns__showss .showss-button-prev img,
.slide-abouts__visions .group-btns__showss .showss-button-next img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.slide-abouts__visions .group-btns__showss .showss-button-prev:hover, .slide-abouts__visions .group-btns__showss .showss-button-prev:focus,
.slide-abouts__visions .group-btns__showss .showss-button-next:hover,
.slide-abouts__visions .group-btns__showss .showss-button-next:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.slide-abouts__visions .group-btns__showss .showss-button-prev {
  left: 30px;
}
.slide-abouts__visions .group-btns__showss .showss-button-next {
  right: 30px;
}
.slide-abouts__visions .swiper-pagination {
  position: absolute;
  bottom: 30px;
}
.slide-abouts__visions .swiper-pagination .swiper-pagination-bullet {
  margin: 0px !important;
  width: 6px;
  height: 6px;
  border-radius: 1000px;
  border: 0px;
  background-color: #D9D9D9;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.slide-abouts__visions .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 6px !important;
}
.slide-abouts__visions .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2EA1DB;
}

.items-abouts__visions > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 65%;
  overflow: hidden;
  border-radius: 20px;
}
.items-abouts__visions > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-vision .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sl-images__visions .swiper-slide {
  width: auto;
}

.items-images__visions img {
  border-radius: 20px;
}