.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.contents-price__lists:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  padding-top: 40%;
  position: absolute;
  background: url(../images/after-bang-gia.png) no-repeat center top;
  background-size: cover;
}
.contents-price__lists .container {
  position: relative;
  z-index: 10;
}

.img-price__lists {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.intros-prices__lists {
  background-color: #FFFFFF;
  border: solid 1px #E2E7E9;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  border-radius: 20px;
  font-size: 18px;
  padding-top: 0px;
}
.intros-prices__lists > .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px;
}
.intros-prices__lists > .row:nth-child(2n+1) {
  background-color: #F9FBFB;
}
.intros-prices__lists > .row:first-child {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #E2E7E9;
  background-color: #FFFFFF;
}
.intros-prices__lists > .row > [class^=col]:nth-child(1) {
  font-family: "SVN-GilroyBold";
}
.intros-prices__lists > .row > [class^=col]:nth-child(2) {
  text-align: center;
  color: #788197;
}
.intros-prices__lists > .row > [class^=col]:nth-child(2) p {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.intros-prices__lists > .row > [class^=col]:nth-child(2) p:after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
  right: 0px;
  bottom: 0px;
  height: 1px;
  width: 10px;
  background-color: #788197;
}
.intros-prices__lists > .row:not(:first-child) {
  border: solid 1px transparent;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.intros-prices__lists > .row:not(:first-child):hover, .intros-prices__lists > .row:not(:first-child):focus {
  border: solid 1px #2EA1DB;
}
.intros-prices__lists > .row:not(:first-child):hover > [class^=col]:nth-child(1), .intros-prices__lists > .row:not(:first-child):focus > [class^=col]:nth-child(1) {
  color: #2EA1DB;
}
.intros-prices__lists > .row:not(:first-child):hover > [class^=col]:nth-child(2), .intros-prices__lists > .row:not(:first-child):focus > [class^=col]:nth-child(2) {
  color: #0C2054;
}
.intros-prices__lists > .row:not(:first-child):hover .btn-greys__alls, .intros-prices__lists > .row:not(:first-child):focus .btn-greys__alls {
  background-color: #0C2054;
  color: #FFFFFF;
}
.intros-prices__lists .btn-greys__alls {
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
}

.btn-classify__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #E2E7E9;
  -webkit-box-shadow: 0px 0px 10px rgba(6, 34, 50, 0.1);
          box-shadow: 0px 0px 10px rgba(6, 34, 50, 0.1);
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 15px;
  position: relative;
}
.btn-classify__prices span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0px 10px;
  font-family: "SVN-GilroyBold";
  font-size: 16px;
  text-transform: uppercase;
  background: linear-gradient(219.25deg, #47BAEC -17.1%, #36A9E1 37.43%, #1488CA 91.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.btn-classify__prices img {
  width: 45px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.btn-classify__prices i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  color: #FFFFFF;
  background: linear-gradient(219.25deg, #17B1F4 -17.1%, #239BD6 37.43%, #145DCA 91.95%);
}
.btn-classify__prices .list-classify__pricess {
  position: absolute;
  left: 0px;
  top: 100%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FFFFFF;
  z-index: 10;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 20px rgba(6, 34, 50, 0.15);
          box-shadow: 0px 5px 20px rgba(6, 34, 50, 0.15);
  border-radius: 10px;
  display: none;
}
.btn-classify__prices .list-classify__pricess li {
  font-family: "SVN-Gilroy";
}
.btn-classify__prices .list-classify__pricess li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
}
.btn-classify__prices .list-classify__pricess li a:hover, .btn-classify__prices .list-classify__pricess li a:focus {
  background-color: #F0F3F8;
  font-family: "SVN-GilroyBold";
  color: #0C2054;
}
.btn-classify__prices .list-classify__pricess li .active {
  background-color: #F0F3F8;
  font-family: "SVN-GilroyBold";
  color: #0C2054;
}

.price-your__care {
  padding: 90px 0px;
  background-color: #F9FBFB;
}

.infos-price__care {
  max-width: 915px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.list-price__cares li {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #E2E7E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-price__cares li:hover:before, .list-price__cares li:focus:before {
  width: 20px;
}
.list-price__cares li:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0px;
  height: 15px;
  margin-right: 10px;
  content: "";
  background: url(../images/arrows-hide-icons.png) no-repeat center;
  background: contain;
  -webkit-filter: brightness(0) saturate(100%) invert(57%) sepia(96%) saturate(1101%) hue-rotate(170deg) brightness(87%) contrast(98%);
          filter: brightness(0) saturate(100%) invert(57%) sepia(96%) saturate(1101%) hue-rotate(170deg) brightness(87%) contrast(98%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.list-price__cares li a {
  font-family: "SVN-GilroyBold";
  color: #0C2054;
  font-size: 16px;
}