.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.content-certification__pages {
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
}
.content-certification__pages .titles-bold__alls {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}