.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.list-sevice__navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -10px;
}
.list-sevice__navs li {
  width: 16.66%;
  padding: 0px 10px;
}
.list-sevice__navs li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #F5F7F7;
  width: 100%;
  min-height: 100px;
  border-radius: 20px;
  color: #788197;
  font-family: "SVN-GilroyBold";
}
.list-sevice__navs li a:hover, .list-sevice__navs li a:focus {
  color: #FFFFFF;
  background-color: #2EA1DB;
}
.list-sevice__navs li .active {
  color: #FFFFFF;
  background-color: #2EA1DB;
}

.slide-service__images {
  position: relative;
  z-index: 100;
}
.slide-service__images .swiper-button-prev,
.slide-service__images .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.slide-service__images .group-btns__showss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 10;
  top: 35px;
  left: 35px;
  font-size: 24px;
}
.slide-service__images .group-btns__showss .showss-button-prev,
.slide-service__images .group-btns__showss .showss-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  border: solid 1px #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1000px;
  padding: 0px;
  color: #BABABA;
}
.slide-service__images .group-btns__showss .showss-button-prev img,
.slide-service__images .group-btns__showss .showss-button-next img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.slide-service__images .group-btns__showss .showss-button-prev:hover, .slide-service__images .group-btns__showss .showss-button-prev:focus,
.slide-service__images .group-btns__showss .showss-button-next:hover,
.slide-service__images .group-btns__showss .showss-button-next:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.slide-service__images .group-btns__showss .showss-button-prev {
  margin-right: 15px;
}
.slide-service__images .group-btns__showss .showss-button-prev img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slide-service__images .swiper-pagination {
  position: relative;
  margin-top: 20px;
  bottom: 0px;
}
.slide-service__images .swiper-pagination .swiper-pagination-bullet {
  margin: 0px !important;
  width: 6px;
  height: 6px;
  border-radius: 1000px;
  border: 0px;
  background-color: #D9D9D9;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.slide-service__images .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 5px !important;
}
.slide-service__images .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2EA1DB;
}

.intros-sevice__boxs .slide-service__images {
  margin-top: 70px;
}

.sevice-catagory__pages .items-why__mains {
  padding: 40px 35px;
  background: #FFFFFF;
  border: 1px solid #E2E7E9;
  border-radius: 20px;
  margin-bottom: 30px;
}
.sevice-catagory__pages .items-why__mains .img-why__mains + .titles-bold__alls {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.sevice-catagory__pages .items-why__mains .text-why__mains {
  padding-bottom: 50px;
}
.sevice-catagory__pages .items-why__mains .btn-blues__alls {
  min-height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  text-transform: inherit;
}
.sevice-catagory__pages .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sevice-half__bottom .items-why__mains {
  height: 100%;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sevice-half__bottom .row {
  border-radius: 20px;
  overflow: hidden;
  border: solid 1px #D9D9D9;
}

.text-introduce__sevices {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.left-post__sevices {
  padding: 30px;
  background-color: #F9FBFB;
}
.left-post__sevices ul li:not(:last-child) {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: dashed 1px #B3C1E5;
}
.left-post__sevices ul li a:hover, .left-post__sevices ul li a:focus {
  color: #0C2054;
  font-family: "SVN-GilroyBold";
}
.left-post__sevices ul li .active {
  color: #0C2054;
  font-family: "SVN-GilroyBold";
}

.bg-white__alls {
  background-color: #FFFFFF !important;
}

.intros-text__sevices img {
  margin-bottom: 40px;
}