.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.top-unit__abouts .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-abouts__units img {
  width: 100%;
}

.text-units__abouts {
  padding: 90px 45px;
  padding-right: 75px;
  background-color: #F1F6EC;
}

.faith-abouts__text {
  max-width: 730px;
  margin-right: auto;
  margin-left: auto;
}

.items-faith__abouts {
  color: #717171;
}
.items-faith__abouts .titles-bold__alls {
  color: #000000;
}
.items-faith__abouts img {
  width: 95px;
  height: 95px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-bottom: 25px;
}

.img-quoctes__abouts img {
  width: 100%;
}

.quoctes-abouts__texts {
  max-width: 445px;
  margin-left: auto;
  margin-right: auto;
}

.list-img__quoctes {
  padding-bottom: 80px;
  position: relative;
}
.list-img__quoctes > .row > [class^=col] {
  position: relative;
}
.list-img__quoctes > .row > [class^=col]:nth-child(1):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -24px;
  top: 24px;
  background-color: #F1F6EC;
}
.list-img__quoctes > .row > [class^=col]:nth-child(2) {
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}
.list-img__quoctes > .row > [class^=col]:nth-child(5):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -75px;
  top: 75px;
  background-color: #F1F6EC;
}
.list-img__quoctes > .row > [class^=col]:nth-child(6) {
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}
.list-img__quoctes > .row > [class^=col]:nth-child(3) {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}
.list-img__quoctes > .row > [class^=col]:nth-child(7) {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}
.list-img__quoctes > .row > [class^=col]:nth-child(8):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: -40px;
  top: 40px;
  background-color: #F1F6EC;
}

.items-img__quoctes {
  position: relative;
  z-index: 10;
  margin-bottom: 8px;
}
.items-img__quoctes > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.items-img__quoctes > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-shows__abouts {
  overflow: hidden;
}

.intros-contacts .row > [class^=col]:last-child .items-intros__contacts p a {
  word-break: initial;
}