.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.box-left__contacts {
  background-color: #2EA1DB;
  padding: 50px;
  color: #FFFFFF;
  font-size: 18px;
}
.box-left__contacts a {
  color: #FFFFFF;
}

.tops-contacts__lefts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tops-contacts__lefts > img {
  width: 80px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.intros-tops__contacts {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 30px;
}
.intros-tops__contacts ul {
  border-top: solid 1px #FFFFFF;
  padding-top: 35px;
  margin-top: 35px;
}
.intros-tops__contacts ul li:not(:last-child) {
  margin-bottom: 35px;
}

.phone-contacts__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-family: "SVN-GilroyBold";
}
.phone-contacts__pages img {
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-right: 10px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.apps-contacts__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
  margin-top: 40px;
  border-top: solid 1px #FFFFFF;
}
.apps-contacts__pages li:not(:last-child) {
  margin-right: 20px;
}
.apps-contacts__pages li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  border: solid 1px #FFFFFF;
}
.apps-contacts__pages li a img {
  width: 80%;
  height: auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.box-right__contacts {
  height: 100%;
  border: solid 1px #E2E7E9;
  position: relative;
}
.box-right__contacts .row {
  height: 100%;
}
.box-right__contacts:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 40%;
  height: 60%;
  left: 0px;
  bottom: 0px;
  background: url(../images/after-sevice-abouts.png) no-repeat center;
  background-size: cover;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.infos-rights__contacts {
  padding: 50px;
  position: relative;
  font-size: 18px;
  position: relative;
  z-index: 20;
}
.infos-rights__contacts ul {
  padding-top: 30px;
  margin-top: 35px;
  border-top: solid 1px #E2E7E9;
}
.infos-rights__contacts ul li:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: dashed 1px #E2E7E9;
}

.maps-contacts___details {
  position: relative;
  width: 100%;
  height: 100%;
}
.maps-contacts___details iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.book-calendar__contacts {
  padding: 120px 0px;
  background-color: #F9FBFB;
  position: relative;
  overflow: hidden;
}
.book-calendar__contacts form {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10;
}
.book-calendar__contacts form .row > [class^=col] {
  margin-bottom: 20px;
}
.book-calendar__contacts form .bg-contacts__pages {
  position: absolute;
  width: 370px;
  height: 390px;
  left: 110%;
  bottom: -5%;
}
.book-calendar__contacts form .bg-contacts__pages img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.book-calendar__contacts .btn-oranges__alls {
  min-width: 290px;
  margin-left: auto;
  margin-right: auto;
}