.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.banner-mains {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.banner-mains .bg-banner__mains {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.banner-mains .bg-banner__mains img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-mains .container {
  position: relative;
  z-index: 10;
  padding-bottom: 60px;
  padding-top: 60px;
}
.banner-mains .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-mains .container .img-banner__mains {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-mains .container .img-banner__mains > img {
  position: relative;
  z-index: 10;
}
.banner-mains .container .img-banner__mains .animations-banners {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-animation: linear infinite;
  -webkit-animation-name: leftRight;
  -webkit-animation-duration: 3s;
}

@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
@keyframes leftRight {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
.intros-banner__mains {
  color: #FFFFFF;
  padding-right: 20%;
}

.book-mains {
  padding: 120px 0px;
  width: 100%;
  overflow: hidden;
}
.book-mains > .container > .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-book-videos {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.img-book-videos .img-book__animations {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-animation: linear infinite;
  -webkit-animation-name: leftRight;
  -webkit-animation-duration: 3s;
}
.img-book-videos img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  position: relative;
  z-index: 10;
}

.book-videos__mains {
  position: relative;
}
.book-videos__mains .btn-book__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0px;
  bottom: 10%;
  z-index: 10;
}
.book-videos__mains .btn-book__videos img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.form-book__mains {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 20px rgba(6, 34, 50, 0.15);
          box-shadow: 0px 5px 20px rgba(6, 34, 50, 0.15);
  border-radius: 20px;
  overflow: hidden;
}
.form-book__mains .titles-book__forms {
  padding: 30px 40px;
  background-color: #0C2054;
  color: #FFFFFF;
}
.form-book__mains form {
  padding: 40px 30px;
}
.form-book__mains form > .row > [class^=col] {
  margin-bottom: 15px;
}
.form-book__mains .btn-oranges__alls {
  width: 100%;
}

.items-why__mains {
  text-align: center;
}
.items-why__mains .img-why__mains {
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}
.items-why__mains .img-why__mains img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.items-why__mains .text-why__mains {
  padding: 40px 0px;
  color: #788197;
  background: url(../images/bg-text-why.png) no-repeat center bottom;
  background-size: contain;
}

.why-me__mains {
  padding: 120px 0px;
  background-color: #FAFCFC;
}

.text-padding__abouts {
  padding-left: 35px;
}
.text-padding__abouts .text-before__mains {
  position: relative;
}
.text-padding__abouts .text-before__mains:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0px;
  height: 100%;
  width: 4px;
  border-radius: 1000px;
  background-color: #2EA1DB;
}

.groups-btn__afters {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.groups-btn__afters:after {
  content: "";
  position: absolute;
  top: 45%;
  width: 35%;
  height: 45%;
}
.groups-btn__afters > [class^=btn] {
  -webkit-box-shadow: 0px 20px 50px -25px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 20px 50px -25px rgba(0, 0, 0, 0.75) !important;
  margin-bottom: 30px;
}
.groups-btn__afters img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.groups-btn__afters:hover > img, .groups-btn__afters:focus > img {
  -webkit-animation: linear infinite;
  -webkit-animation-name: btnLeftAnimations;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes btnLeftAnimations {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(30px);
            transform: translate(30px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
@keyframes btnLeftAnimations {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(30px);
            transform: translate(30px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
.videos-about__mains {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.videos-about__mains:after {
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  position: absolute;
  z-index: 10;
}
.videos-about__mains > img {
  width: 100%;
  height: 100%;
}
.videos-about__mains .btn-videos__abouts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 135px;
  height: 135px;
  border-radius: 1000px;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 20;
}
.videos-about__mains .btn-videos__abouts img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.about-mains {
  padding: 100px 0px;
}

.sevice-hot__mains {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sevice-hot__mains::-webkit-scrollbar {
  display: none;
}

.sevice-hot__mains::-webkit-scrollbar-track {
  display: none;
}

.sevice-hot__mains::-webkit-scrollbar-thumb {
  display: none;
}

.list-sevice__hots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-gap: 12px;
  min-width: 120%;
}
.list-sevice__hots .items-sevices__hots {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.list-sevice__hots .items-sevices__hots:hover .intros-sevice__hots, .list-sevice__hots .items-sevices__hots:focus .intros-sevice__hots {
  opacity: 1;
}
.list-sevice__hots .items-sevices__hots > img {
  height: 100%;
  max-height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.list-sevice__hots .items-sevices__hots .intros-sevice__hots {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: rgba(12, 32, 84, 0.59);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #FFFFFF;
}
.list-sevice__hots .items-sevices__hots .intros-sevice__hots:after {
  content: "";
  background: url(../images/close-alls-icons.svg) no-repeat center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 20px;
  height: 20px;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custoner-experience {
  padding: 120px 0px;
  background-color: #FEF5E9;
}
.custoner-experience .container {
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
}

.slide-customer__mains {
  position: relative;
  z-index: 100;
}
.slide-customer__mains .swiper-button-prev,
.slide-customer__mains .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.slide-customer__mains .group-btns__showss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1px;
  width: 100%;
  z-index: 10;
  top: 50%;
  left: 0px;
  font-size: 24px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.slide-customer__mains .group-btns__showss .showss-button-prev,
.slide-customer__mains .group-btns__showss .showss-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1000px;
  padding: 0px;
  color: #BABABA;
  font-size: 36px;
}
.slide-customer__mains .group-btns__showss .showss-button-prev img,
.slide-customer__mains .group-btns__showss .showss-button-next img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.slide-customer__mains .group-btns__showss .showss-button-prev:hover, .slide-customer__mains .group-btns__showss .showss-button-prev:focus,
.slide-customer__mains .group-btns__showss .showss-button-next:hover,
.slide-customer__mains .group-btns__showss .showss-button-next:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #F6AA35;
}
.slide-customer__mains .group-btns__showss .showss-button-prev {
  left: -170px;
}
.slide-customer__mains .group-btns__showss .showss-button-next {
  right: -170px;
}
.slide-customer__mains .swiper-pagination {
  position: relative;
  margin-top: 50px;
  bottom: 0px;
}
.slide-customer__mains .swiper-pagination .swiper-pagination-bullet {
  margin: 0px !important;
  width: 24px;
  height: 6px;
  border-radius: 1000px;
  border: 0px;
  background-color: #E2E7E9;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.slide-customer__mains .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 5px !important;
}
.slide-customer__mains .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #F6AA35;
  width: 70px;
}

.items-customers__mains {
  text-align: center;
}

.news-mains {
  padding: 120px 0px;
}

.slide-news__mains {
  position: relative;
  z-index: 100;
}
.slide-news__mains .swiper-button-prev,
.slide-news__mains .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.slide-news__mains .group-btns__showss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1px;
  width: 100%;
  z-index: 10;
  top: 50%;
  left: 0px;
  font-size: 24px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.slide-news__mains .group-btns__showss .showss-button-prev,
.slide-news__mains .group-btns__showss .showss-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1000px;
  padding: 0px;
  color: #BABABA;
  font-size: 36px;
}
.slide-news__mains .group-btns__showss .showss-button-prev img,
.slide-news__mains .group-btns__showss .showss-button-next img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.slide-news__mains .group-btns__showss .showss-button-prev:hover, .slide-news__mains .group-btns__showss .showss-button-prev:focus,
.slide-news__mains .group-btns__showss .showss-button-next:hover,
.slide-news__mains .group-btns__showss .showss-button-next:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #F6AA35;
}
.slide-news__mains .group-btns__showss .showss-button-prev {
  left: -170px;
}
.slide-news__mains .group-btns__showss .showss-button-next {
  right: -170px;
}

.items-news__mains {
  border: solid 1px #E2E7E9;
  border-radius: 20px;
}
.items-news__mains .img-news__mains > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  overflow: hidden;
  padding-top: 70%;
  border-radius: 20px;
}
.items-news__mains .img-news__mains > a:hover img, .items-news__mains .img-news__mains > a:focus img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.items-news__mains .img-news__mains > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.items-news__mains .intros-news__mains {
  padding: 20px 30px;
}
.items-news__mains .intros-news__mains .names-news__mains {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0C2054;
}
.items-news__mains .intros-news__mains .names-news__mains:hover, .items-news__mains .intros-news__mains .names-news__mains:focus {
  color: #2EA1DB;
}
.items-news__mains .intros-news__mains .text-news__mains {
  position: relative;
  border-top: solid 1px #E2E7E9;
  padding-top: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.items-news__mains .intros-news__mains .text-news__mains:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: -8px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
  background: url(../images/plus-box-1.png) no-repeat center;
  background-size: contain;
  z-index: 10;
}