.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
body {
  line-height: 1.5;
  color: #444B5E;
  word-break: break-word;
  position: relative;
  font-size: 16px;
  font-family: "SVN-Gilroy";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 0px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: inherit;
}

a, a:focus,
input,
input:focus,
button,
button:focus,
textarea,
textarea:focus,
select,
select:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-clip: unset !important;
  text-decoration: none;
}

dl,
ol,
ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
  line-height: 1.49;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.center {
  text-align: center;
}

.s-content ol {
  list-style: decimal;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content ul {
  list-style: initial;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content li {
  list-style: inherit;
  margin-bottom: 5px;
}

.s-content p {
  margin-bottom: 15px;
}

.s-content img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
  width: auto !important;
  -o-object-fit: contain;
  object-fit: contain;
  height: auto !important;
  max-width: 100%;
}

.s-content table,
.s-content iframe {
  max-width: 100%;
  width: 100%;
}

.s-content table {
  border-collapse: collapse;
  width: 100%;
  border: solid 1px #000006;
}

.s-content table td {
  border-collapse: collapse;
  border: solid 1px #000006;
  padding: 3px;
}

.s-content h1,
.s-content h2,
.s-content h3,
.s-content h4,
.s-content h5,
.s-content h6 {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.s-content h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.s-content h2 {
  font-size: 1.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.s-content h3 {
  font-size: 1.17em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.s-content h4 {
  font-size: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.s-content h5 {
  font-size: 0.83em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.s-content h6 {
  font-size: 0.67em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

/* font */
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-Gilroy.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Gilroy.woff") format("woff"), url("../fonts/SVN-Gilroy.ttf") format("truetype"), url("../fonts/SVN-Gilroy.svg#SVN-Gilroy") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-GilroyMedium";
  src: url("../fonts/SVN-GilroyMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyMedium.woff") format("woff"), url("../fonts/SVN-GilroyMedium.ttf") format("truetype"), url("../fonts/SVN-GilroyMedium.svg#SVN-GilroyMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-GilroyBold";
  src: url("../fonts/SVN-GilroyBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyBold.woff") format("woff"), url("../fonts/SVN-GilroyBold.ttf") format("truetype"), url("../fonts/SVN-GilroyBold.svg#SVN-GilroyBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
strong {
  font-weight: 500;
}

.swiper-container-multirow-column > .swiper-wrapper {
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
}

.swiper-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.swiper-container .swiper-slide {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 1440.98px) {
  .container {
    max-width: 1380px;
  }
}
/* end font */
.limit-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-height: 1.5em;
  line-height: 1.5;
}
.limit-line--2 {
  -webkit-line-clamp: 2;
  max-height: 3em;
}
.limit-line--3 {
  -webkit-line-clamp: 3;
  max-height: 4.5em;
}
.limit-line--4 {
  -webkit-line-clamp: 4;
  max-height: 6em;
}

form {
  margin-bottom: 0px;
}

/* variable */
/* search-group */
.d-nones {
  display: none;
}

.w-100ss {
  width: 100% !important;
}

/* ---- */
.gutter-0 {
  margin: 0 0px;
}
.gutter-0 > [class^=col] {
  padding: 0 0px;
}

.gutter-16 {
  margin: 0 -8px;
}
.gutter-16 > [class^=col] {
  padding: 0 8px;
}

.gutter-20 {
  margin: 0 -10px;
}
.gutter-20 > [class^=col] {
  padding: 0 10px;
}

.gutter-65 {
  margin: 0 -32px;
}
.gutter-65 > [class^=col] {
  padding: 0 32px;
}

.gutter-40 {
  margin: 0 -20px;
}
.gutter-40 > [class^=col] {
  padding: 0 20px;
}

.gutter-60 {
  margin: 0 -30px;
}
.gutter-60 > [class^=col] {
  padding: 0 30px;
}

.gutter-70 {
  margin: 0 -35px;
}
.gutter-70 > [class^=col] {
  padding: 0 35px;
}

.gutter-100 {
  margin: 0 -50px;
}
.gutter-100 > [class^=col] {
  padding: 0 50px;
}

.gutter-156 {
  margin: 0 -78px;
}
.gutter-156 > [class^=col] {
  padding: 0 78px;
}

.gutter-300 {
  margin: 0 -150px;
}
.gutter-300 > [class^=col] {
  padding: 0 150px;
}

/* header */
.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 1000;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
  background-color: transparent;
}

.overflow-hidden {
  overflow: hidden;
}

.actives-fixed__headers {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
}

.headers-fixed {
  position: fixed !important;
  height: auto;
  width: 100%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s !important;
          animation-delay: 0s !important;
  z-index: 99;
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
  background-color: black !important;
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}

.menu ul li a {
  text-decoration: none;
}

.active-tops {
  opacity: 1 !important;
  z-index: 9 !important;
  visibility: visible !important;
}

.back-menu {
  position: absolute;
  right: 15px;
  top: 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 36px;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.menu {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.logo-menu__mobile {
  display: none;
}

.menu-desktop {
  position: relative;
}
.menu-desktop > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-desktop > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* submenu */
}
.menu-desktop > ul > li i {
  font-size: 16px;
  font-style: inherit;
  margin-left: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2EA1DB;
}
.menu-desktop > ul > li i:after {
  font-family: "fontawesome";
  content: "\f107";
}
.menu-desktop > ul > li:not(:last-child) {
  margin-right: 30px;
}
.menu-desktop > ul > li:after {
  display: none;
}
.menu-desktop > ul > li:hover > ul, .menu-desktop > ul > li:focus > ul {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.menu-desktop > ul > li:hover .img-banner__menus, .menu-desktop > ul > li:focus .img-banner__menus {
  opacity: 1;
  visibility: visible;
}
.menu-desktop > ul > li > a {
  width: 100%;
  color: #444B5E;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  font-size: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "SVN-GilroyMedium";
  text-transform: uppercase;
}
.menu-desktop > ul > li ul {
  position: absolute;
  top: 100%;
  left: 0px;
  height: auto;
  width: 185px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #FFFFFF;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 0px;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 20px rgba(6, 34, 50, 0.15);
          box-shadow: 0px 5px 20px rgba(6, 34, 50, 0.15);
  border-radius: 10px;
}
.menu-desktop > ul > li ul li {
  width: 100%;
}
.menu-desktop > ul > li ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6D6D6D;
  font-size: 16px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  text-transform: initial;
  padding: 10px 15px;
}
.menu-desktop > ul > li ul li a:hover, .menu-desktop > ul > li ul li a:focus {
  color: #0C2054;
  font-family: "SVN-GilroyBold";
  background-color: #F0F3F8;
}
.menu-desktop > ul > li ul li a img {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: solid 1px transparent;
  -webkit-filter: brightness(0) saturate(100%) invert(58%) sepia(42%) saturate(543%) hue-rotate(46deg) brightness(90%) contrast(89%);
          filter: brightness(0) saturate(100%) invert(58%) sepia(42%) saturate(543%) hue-rotate(46deg) brightness(90%) contrast(89%);
}
.menu-desktop > ul > li ul li:after {
  display: none;
}
.menu-desktop > ul > li ul li:hover ul, .menu-desktop > ul > li ul li:focus ul {
  opacity: 1;
  visibility: visible;
}
.menu-desktop > ul > li ul li ul {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #FFFFFF;
}
.menu-desktop > ul > li ul li ul li {
  width: 100%;
}
.menu-desktop > ul > li ul li ul li a {
  width: 100%;
}
.menu-desktop > ul > li:nth-child(6) {
  position: relative;
}
.menu-desktop > ul > li:nth-child(6) ul {
  width: 250px;
  height: auto;
  padding: 10px 0px;
}
.menu-desktop > ul > li:nth-child(6) ul li {
  padding: 15px 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
  width: 100%;
}
.menu-desktop > ul > li:nth-child(6) ul li:hover:before, .menu-desktop > ul > li:nth-child(6) ul li:focus:before {
  opacity: 1;
}
.menu-desktop > ul > li:nth-child(6) ul li:before {
  content: "";
  position: absolute;
  left: 0px;
  width: 8px;
  height: 50px;
  background: url(../images/before-menus.svg) no-repeat center;
  background-size: contain;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}

.button-phone {
  display: none;
  z-index: 10;
  position: relative;
  z-index: 100;
}

.opens-now {
  left: 0 !important;
  z-index: 9999;
}

.remove-all {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: none;
  top: 0;
  left: 0;
}

.out-menu {
  display: block !important;
}

.main-menu-mobile {
  display: none;
}

@media all and (max-width: 991.98px) {
  .main-menu-mobile {
    position: fixed !important;
    top: 0 !important;
    left: -100%;
    width: 290px;
    max-width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #FFFFFF;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .main-menu-mobile::-webkit-scrollbar {
    width: 2px;
    border-radius: 0px;
  }

  .main-menu-mobile::-webkit-scrollbar-track {
    background-color: #6E4720;
  }

  .main-menu-mobile::-webkit-scrollbar-thumb {
    background-color: #F5D182;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .main-menu-mobile::-webkit-scrollbar-thumb:hover {
    background-color: #05843E;
  }

  .main-menu-mobile {
    scrollbar-face-color: #05843E;
    scrollbar-track-color: #fff;
  }

  .main-menu-mobile .header-menu-mobile {
    text-align: center;
    padding: 20px 0px;
  }

  .close-menu-btn {
    display: none;
  }

  .main-menu-mobile .header-menu-mobile .close-menu-btn {
    cursor: pointer;
    display: block;
    padding: 8px;
    border: solid 1px white;
  }

  .main-menu-mobile .header-menu-mobile .close-menu-btn i {
    color: #fff;
    font-size: 17px;
  }

  .main-menu-mobile .header-menu-mobile .close-menu-btn:hover {
    background-color: #fff;
  }

  .main-menu-mobile .header-menu-mobile .close-menu-btn:hover i {
    color: #F7941E;
  }

  .main-menu-mobile ul {
    max-height: 600px;
    overflow-y: auto;
  }

  .main-menu-mobile ul::-webkit-scrollbar {
    width: 2px;
    border-radius: 40px;
  }

  .main-menu-mobile ul::-webkit-scrollbar-track {
    background-color: #fff;
  }

  .main-menu-mobile ul::-webkit-scrollbar-thumb {
    background-color: #05843E;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .main-menu-mobile ul::-webkit-scrollbar-thumb:hover {
    background-color: #F7941E;
  }

  .main-menu-mobile ul li {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .main-menu-mobile ul li a {
    display: block;
    padding: 10px 15px;
    color: #111111;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    /* width: calc(100% - 60px); */
    border-bottom: solid 1px #ebebeb;
  }

  .main-menu-mobile ul li a:hover,
.main-menu-mobile ul li.active a {
    color: #F7941E;
  }

  .main-menu-mobile ul li i {
    position: absolute;
    width: 30px;
    max-width: 100%;
    height: 30px;
    top: 0;
    right: 0;
    background-color: #F7941E;
    border-left: solid 1px #EBEBEB;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 100;
    opacity: 1;
    font-style: inherit;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .main-menu-mobile ul li i::before {
    font-family: "FontAwesome";
    content: "\f107";
    font-size: 17px;
    color: black;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .main-menu-mobile ul li i.active::before {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .main-menu-mobile ul li:hover i {
    opacity: 1;
    background-color: #F7941E;
  }

  .main-menu-mobile ul li ul {
    position: static;
    width: 100%;
    display: none;
    max-height: unset;
  }

  .main-menu-mobile ul li ul li {
    border-top: 1px solid #fff;
  }

  .main-menu-mobile ul li ul li:last-child {
    border-bottom: none;
  }

  .main-menu-mobile ul li ul li a {
    width: 100%;
    padding-left: 20px;
    font-size: 13px;
    background-color: #ebebeb;
  }

  .main-menu-mobile ul li ul li ul li a {
    padding-left: 30px;
  }

  .active-menu-mobile {
    left: 0px !important;
  }

  .bg-over-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    min-width: 20%;
    opacity: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .bg-over-menu.show-over {
    right: 0;
    z-index: 8888;
    opacity: 1;
  }
}
.logo-mains {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
}
.logo-mains img {
  max-width: 67px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.header {
  background-color: #FFFFFF;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.phones-rights__headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  margin-right: 20px;
}
.phones-rights__headers img {
  width: 24px;
  height: 24px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-right: 10px;
}

.right-headers {
  padding-left: 24px;
  margin-left: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.right-headers:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  width: 1px;
  height: 60%;
  background-color: #E2E7E9;
}

/* end header */
/* footers */
.footers {
  background: url(../images/footers.png) no-repeat center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.top-footers {
  padding: 100px 0px;
}

.titles-footers__alls {
  color: rgba(255, 255, 255, 0.8);
}

.box-footers {
  color: rgba(255, 255, 255, 0.5);
}
.box-footers a:hover, .box-footers a:focus {
  color: #FFFFFF;
}

.list-intros__footers li:not(:last-child) {
  margin-bottom: 15px;
}

.phones-footers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  margin-right: 20px;
}
.phones-footers img {
  width: 24px;
  height: 24px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-right: 10px;
}

.app-footers {
  padding-top: 20px;
  margin-top: 20px;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.list-apps__footers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-apps__footers li {
  margin-bottom: 5px;
}
.list-apps__footers li:not(:last-child) {
  margin-right: 15px;
}

.list-nav__footers li:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.bottom-footers {
  padding-top: 45px;
  padding-bottom: 15px;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.copy-rights__footers {
  color: rgba(255, 255, 255, 0.2);
}

.groups-fixed__alls {
  position: fixed;
  left: 70px;
  bottom: 20%;
  z-index: 10;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.groups-fixed__alls li:not(:last-child) {
  margin-bottom: 10px;
}
.groups-fixed__alls li:last-child {
  margin-top: 30px;
}
.groups-fixed__alls li img {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.up-to__tops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #CAE0F6;
  color: #2EA1DB;
  border-radius: 1000px;
  border: 0px;
  font-size: 32px;
}

.phones-rings__fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.phones-rings__fixed .number-phone__rings {
  position: relative;
  background-color: #2EA1DB;
  color: #FFFFFF;
  padding: 10px;
  padding-left: 70px;
  border-radius: 1000px;
}
.phones-rings__fixed .icons-phone__fixeds {
  position: absolute;
  left: 0px;
}
.phones-rings__fixed .icons-phone__fixeds span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 1000px;
  background-color: #2EA1DB;
  color: #FFFFFF;
  font-size: 28px;
  position: relative;
  z-index: 10;
}
.phones-rings__fixed .icons-phone__fixeds:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2.3);
          transform: scale(2.3);
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  background: url(../images/bg-ring-phones.png) no-repeat center;
  background-size: cover;
}

/* and footer */
/* forms */
.btn-blues__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #2EA1DB;
  background-color: #2EA1DB;
  color: #FFFFFF;
  font-size: 15px;
  padding: 5px 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1000px;
  text-transform: uppercase;
  font-family: "SVN-GilroyMedium";
}
.btn-blues__alls img,
.btn-blues__alls i {
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-blues__alls:hover, .btn-blues__alls:focus {
  background-color: #0C2054;
  color: #FFFFFF !important;
  border-color: #0C2054;
}
.btn-blues__alls:hover img, .btn-blues__alls:focus img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.btn-blues__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #0C2054;
  background-color: #0C2054;
  color: #FFFFFF;
  font-size: 15px;
  padding: 5px 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1000px;
  text-transform: uppercase;
  font-family: "SVN-GilroyMedium";
}
.btn-blues__second img,
.btn-blues__second i {
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-blues__second:hover, .btn-blues__second:focus {
  background-color: #2EA1DB;
  color: #FFFFFF !important;
  border-color: #2EA1DB;
}
.btn-blues__second:hover img, .btn-blues__second:focus img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.btn-oranges__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #F6AA35;
  background-color: #F6AA35;
  color: #FFFFFF;
  font-size: 15px;
  padding: 5px 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1000px;
  text-transform: uppercase;
  font-family: "SVN-GilroyMedium";
}
.btn-oranges__alls img,
.btn-oranges__alls i {
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-oranges__alls:hover, .btn-oranges__alls:focus {
  background-color: #2EA1DB;
  color: #FFFFFF !important;
  border-color: #2EA1DB;
}
.btn-oranges__alls:hover img, .btn-oranges__alls:focus img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.btn-greys__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #E2E7E9;
  background-color: #E2E7E9;
  color: #788197;
  font-size: 15px;
  padding: 5px 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1000px;
}
.btn-greys__alls img,
.btn-greys__alls i {
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-greys__alls:hover {
  background-color: #2EA1DB;
  color: #FFFFFF !important;
  border-color: #2EA1DB;
}
.btn-greys__alls:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.btn-blues__trans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #0C2054;
  background-color: #FFFFFF;
  color: #0C2054;
  font-size: 16px;
  padding: 3px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1000px;
}
.btn-blues__trans img {
  margin-left: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-blues__trans:hover, .btn-blues__trans:focus {
  background-color: #2EA1DB;
  color: #FFFFFF;
  border-color: #2EA1DB;
}
.btn-blues__trans:hover img, .btn-blues__trans:focus img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.input-alls {
  height: 50px;
}

.control-alls {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E2E7E9;
  border-radius: 1000px;
  padding: 15px 25px;
  font-size: 16px;
}
.control-alls::-webkit-input-placeholder {
  color: #788197;
}
.control-alls::-moz-placeholder {
  color: #788197;
}
.control-alls:-ms-input-placeholder {
  color: #788197;
}
.control-alls::-ms-input-placeholder {
  color: #788197;
}
.control-alls::placeholder {
  color: #788197;
}

.control-select__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  background-color: white;
  height: 50px;
  width: 100%;
  border-radius: 1000px;
}
.control-select__alls .select2-container {
  width: 100% !important;
}
.control-select__alls .select2-container:hover .select2-selection--single, .control-select__alls .select2-container:focus .select2-selection--single {
  border-color: #EBEBEB !important;
}
.control-select__alls .select2-container--open .select2-selection--single {
  border-bottom: solid 1px #EBEBEB !important;
}
.control-select__alls .select2-selection--single {
  border-radius: 1000px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: solid 1px #EBEBEB !important;
  outline: none !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 50px;
  width: 100%;
  color: #788197 !important;
}
.control-select__alls .select2-container--default .select2-selection--single .select2-selection__rendered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #788197 !important;
  border: 0px !important;
  outline: none !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-left: 25px;
  padding-right: 25px;
  width: 100% !important;
  height: 50px;
}
.control-select__alls .select2-container--default .select2-selection--single .select2-selection__arrow {
  width: auto;
  right: 20px;
  position: relative;
  height: auto;
}
.control-select__alls .select2-container--default .select2-selection--single .select2-selection__arrow:after {
  font-family: "fontawesome";
  content: "\f107";
  font-size: 20px;
  color: #2EA1DB;
}
.control-select__alls .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #8E8F9D transparent transparent transparent;
  display: none;
}
.control-select__alls .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #8E8F9D transparent !important;
}
.control-select__alls .select2-container--open .select2-selection__rendered {
  color: black !important;
}

.control-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 50px;
  border: solid 1px #EBEBEB;
  padding: 0px 25px;
  position: relative;
  border-radius: 1000px;
  background-color: #FFFFFF;
}
.control-date:after {
  content: "";
  background: url(../images/calendar-icons-dates.svg) no-repeat center;
  background-size: contain;
  width: 20px;
  height: 20px;
  right: 15px;
  min-width: 20px;
  position: absolute;
  color: #788197;
}
.control-date input {
  padding-right: 15px !important;
  border: 0px;
  width: 100%;
}
.control-date input::-webkit-input-placeholder {
  color: #788197;
}
.control-date input::-moz-placeholder {
  color: #788197;
}
.control-date input:-ms-input-placeholder {
  color: #788197;
}
.control-date input::-ms-input-placeholder {
  color: #788197;
}
.control-date input::placeholder {
  color: #788197;
}

.control-texts {
  border-radius: 20px;
}

.control-date {
  position: relative;
  width: 100%;
}
.control-date input[type=date]:after {
  color: #788197;
  content: attr(placeholder);
  position: absolute;
  left: 0px;
  z-index: 1;
  width: 100%;
}
.control-date input {
  padding-right: 0px !important;
  position: relative;
  color: transparent !important;
  text-align: left !important;
  background-color: transparent;
  -webkit-appearance: none;
}
.control-date input::-webkit-inner-spin-button {
  display: none;
}
.control-date input::-webkit-calendar-picker-indicator {
  background: transparent;
  position: absolute;
  opacity: 0;
  left: 0px;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
  color: transparent !important;
}

.active-input__texts input[type=date]:after {
  display: none;
}
.active-input__texts input {
  color: #444B5E !important;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0px;
  border-radius: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  padding-top: 25px;
}
.breadcrumb .active {
  color: #2EA1DB !important;
}
.breadcrumb li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb li:not(:last-child):after {
  content: "/";
  margin: 0px 8px;
  font-size: 14px;
  line-height: 1;
}
.breadcrumb li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #788197;
}
.breadcrumb li a:hover, .breadcrumb li a:focus {
  color: #212121;
}

.pagenigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.pagenigation > a,
.pagenigation strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  background-color: #FFFFFF;
  border-radius: 1000px;
  color: #444B5E;
  padding: 2px;
  border: solid 1px #E2E7E9;
  position: relative;
}
.pagenigation > a img,
.pagenigation strong img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pagenigation > a:not(:last-child),
.pagenigation strong:not(:last-child) {
  margin-right: 10px;
}
.pagenigation > a:hover, .pagenigation > a:focus,
.pagenigation strong:hover,
.pagenigation strong:focus {
  background-color: #2EA1DB;
  color: #FFFFFF;
}
.pagenigation .active {
  background-color: #2EA1DB;
  color: #FFFFFF;
}
.pagenigation .prev-end,
.pagenigation .next-end {
  color: #2EA1DB;
}

.sl-btn-alls {
  position: relative;
}
.sl-btn-alls .swiper-button-prev,
.sl-btn-alls .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.sl-btn-alls .group-btns__showss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1px;
  width: 100%;
  z-index: 10;
  top: 50%;
  left: 0px;
  font-size: 24px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.sl-btn-alls .group-btns__showss .showss-button-prev,
.sl-btn-alls .group-btns__showss .showss-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1000px;
  padding: 0px;
  color: #000000;
  font-size: 28px;
}
.sl-btn-alls .group-btns__showss .showss-button-prev img,
.sl-btn-alls .group-btns__showss .showss-button-next img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.sl-btn-alls .group-btns__showss .showss-button-prev:hover, .sl-btn-alls .group-btns__showss .showss-button-prev:focus,
.sl-btn-alls .group-btns__showss .showss-button-next:hover,
.sl-btn-alls .group-btns__showss .showss-button-next:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.sl-btn-alls .group-btns__showss .showss-button-prev {
  left: -60px;
}
.sl-btn-alls .group-btns__showss .showss-button-next {
  right: -60px;
}

.sl-panigation__alls .swiper-pagination .swiper-pagination-bullet {
  margin: 0px !important;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  border: solid 1px #FF7171;
  background-color: #FFFFFF;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.sl-panigation__alls .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px !important;
}
.sl-panigation__alls .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #FF7171;
}

.views-times__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.views-times__alls li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 14px;
  color: #84808E;
}
.views-times__alls li:not(:first-child) {
  padding-left: 15px;
  margin-left: 15px;
}
.views-times__alls li:not(:first-child):before {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #E2E7E9;
  position: absolute;
  left: 0px;
}
.views-times__alls li img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.modals-accounts__alls .modal-dialog {
  max-width: 1180px;
}
.modals-accounts__alls .modal-dialog .modal-content {
  border-radius: 20px;
  padding: 50px;
}

.tops-modals__guides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  position: relative;
  border-bottom: solid 1px #DCDFE4;
}
.tops-modals__guides .zoom-btn__modals,
.tops-modals__guides .task-tops__questions {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0px;
  right: 0px;
  top: 10px;
  margin: auto;
}

.zoom-btn__modals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.zoom-btn__modals li:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: solid 1px #ECE5E5;
}

.intros-guides__accounts {
  max-width: 630px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.slide-guides__accounts {
  position: relative;
}
.slide-guides__accounts .swiper-pagination {
  display: none;
}
.slide-guides__accounts .swiper-button-next,
.slide-guides__accounts .swiper-button-prev {
  opacity: 0;
  visibility: hidden;
}
.slide-guides__accounts .group-btns__showss {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  top: 35%;
  right: 0px;
  margin: auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slide-guides__accounts .group-btns__showss .showss-button-prev,
.slide-guides__accounts .group-btns__showss .showss-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 30px;
}
.slide-guides__accounts .group-btns__showss .showss-button-prev img,
.slide-guides__accounts .group-btns__showss .showss-button-next img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.slide-guides__accounts .group-btns__showss .showss-button-prev {
  -webkit-transform: translateY(-15px) translateX(-70px);
          transform: translateY(-15px) translateX(-70px);
}
.slide-guides__accounts .group-btns__showss .showss-button-next {
  -webkit-transform: translateY(-15px) translateX(70px);
          transform: translateY(-15px) translateX(70px);
}
.slide-guides__accounts .group-btns__showss .showss-button-next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.items-guides__accounts {
  cursor: pointer;
}
.items-guides__accounts .img-guides__accounts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 70%;
  background-color: #F9F9F9;
  margin-bottom: 25px;
  border-radius: 10px;
}
.items-guides__accounts .img-guides__accounts img {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  height: 90%;
  max-height: 360px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  z-index: 100;
}

.shows-thumb__smalls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 65%;
  background-color: #F2F2F2;
  margin-bottom: 25px;
  border: solid 2px transparent;
  border-radius: 10px;
}
.shows-thumb__smalls img {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 100;
}

.sl-thums__guides .swiper-slide-thumb-active .shows-thumb__smalls,
.sl-thums__guides2 .swiper-slide-thumb-active .shows-thumb__smalls {
  border: solid 2px #0246AB;
}

.modals-book__alls .modal-content {
  background-color: transparent !important;
  border: 0px !important;
}

.titles-before__mains {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.titles-before__mains:after {
  content: "";
  width: 80px;
  height: 17px;
  background: url(../images/after-titles.svg) no-repeat center;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.titles-center__alls {
  text-align: center;
}

.titles-transform__alls {
  text-transform: uppercase;
}

.titles-bold__alls {
  font-family: "SVN-GilroyBold";
}

.titles-md__alls {
  font-family: "SVN-GilroyMedium";
}

.fs-14s {
  font-size: 14px;
}

.fs-16s {
  font-size: 16px;
}

.fs-18s {
  font-size: 18px;
}

.fs-20s {
  font-size: 20px;
}

.fs-22s {
  font-size: 22px;
}

.fs-24s {
  font-size: 24px;
}

.fs-40s {
  font-size: 40px;
}

.fs-48s {
  font-size: 48px;
}

.fs-56s {
  font-size: 56px;
}

.mb-5s {
  margin-bottom: 5px;
}

.mb-10s {
  margin-bottom: 10px;
}

.mb-15s {
  margin-bottom: 15px;
}

.mb-20s {
  margin-bottom: 20px;
}

.mb-25s {
  margin-bottom: 25px;
}

.mb-30s {
  margin-bottom: 30px;
}

.mb-35s {
  margin-bottom: 35px;
}

.mb-40s {
  margin-bottom: 40px;
}

.mb-50s {
  margin-bottom: 50px;
}

.mb-60s {
  margin-bottom: 60px;
}

.mb-70s {
  margin-bottom: 70px;
}

.mb-100s {
  margin-bottom: 100px;
}

.mb-120s {
  margin-bottom: 120px;
}

.mb-150s {
  margin-bottom: 150px;
}

.color-blues {
  color: #2EA1DB;
}

.color-blues-seconds {
  color: #0C2054;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
/* end variable */
/* end phonering */