.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.category-sidebars__mains {
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 2px;
  overflow: hidden;
}
.category-sidebars__mains .titles-category__sidebars {
  background-color: #73A141;
  padding: 25px;
  color: #FFFFFF;
}
.category-sidebars__mains ul {
  padding: 12px;
}
.category-sidebars__mains ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  color: #6D6D6D;
  font-family: "Commissioner-Regular";
}
.category-sidebars__mains ul li a img {
  width: 22px;
  height: 22px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-right: 10px;
  -webkit-filter: brightness(0) saturate(100%) invert(44%) sepia(1%) saturate(576%) hue-rotate(337deg) brightness(97%) contrast(92%);
          filter: brightness(0) saturate(100%) invert(44%) sepia(1%) saturate(576%) hue-rotate(337deg) brightness(97%) contrast(92%);
}
.category-sidebars__mains ul li a:hover, .category-sidebars__mains ul li a:focus {
  background-color: #F1F6EC;
  color: #73A141;
  font-family: "Commissioner-SemiBold";
}
.category-sidebars__mains ul li a:hover img, .category-sidebars__mains ul li a:focus img {
  -webkit-filter: brightness(0) saturate(100%) invert(49%) sepia(10%) saturate(2645%) hue-rotate(47deg) brightness(93%) contrast(78%);
          filter: brightness(0) saturate(100%) invert(49%) sepia(10%) saturate(2645%) hue-rotate(47deg) brightness(93%) contrast(78%);
}
.category-sidebars__mains ul li .active {
  background-color: #F1F6EC;
  color: #73A141;
  font-family: "Commissioner-SemiBold";
}
.category-sidebars__mains ul li .active img {
  -webkit-filter: brightness(0) saturate(100%) invert(49%) sepia(10%) saturate(2645%) hue-rotate(47deg) brightness(93%) contrast(78%);
          filter: brightness(0) saturate(100%) invert(49%) sepia(10%) saturate(2645%) hue-rotate(47deg) brightness(93%) contrast(78%);
}

.list-prds__pages .items-prds__mains {
  margin-bottom: 55px;
}
.list-prds__pages .items-prds__mains .btn-greens__trans {
  width: 100%;
}

.content-prds__details {
  padding-top: 90px;
}

.items-prds__details {
  background-color: #F6F6F6;
}
.items-prds__details > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.items-prds__details > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  width: 80%;
  height: 80%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.tables-infos__prds table {
  border-collapse: collapse;
}
.tables-infos__prds table tr:first-child {
  font-size: 40px;
}
.tables-infos__prds table tr:first-child td {
  color: #000000;
  font-family: "PlayfairDisplay-ExtraBold" !important;
}
.tables-infos__prds table tr:not(:last-child) {
  border-bottom: solid 1px #D9D9D9;
}
.tables-infos__prds table td {
  border: 0px solid #C0C0C0;
  padding: 15px 0px;
  vertical-align: baseline;
}
.tables-infos__prds table td:first-child {
  min-width: 120px;
  font-family: "HelveticaNeue-Bold";
  color: #6D6D6D;
}
.tables-infos__prds table td ul {
  list-style: disc;
  padding-left: 15px;
}

.items-prds__intros > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.items-prds__intros > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-intros__details .items-prds__intros {
  margin-bottom: 4px;
}

.list-infos__prds ul li {
  padding: 10px 0px;
}
.list-infos__prds ul li:nth-child(2n+1) {
  background-color: #F5F5F5;
}
.list-infos__prds ul li span {
  font-family: "HelveticaNeue-Bold";
  color: #6D6D6D;
}

.seller-contacts__details .titles-seller__contacts {
  background-color: #73A141;
  padding: 15px;
  color: #FFFFFF;
}

.list-infos__sellers > li:not(:last-child) {
  border-bottom: solid 1px #CDD1C9;
}

.items-infos__sellers {
  padding: 25px;
  background-color: #F1F6EC;
}
.items-infos__sellers ul li {
  font-size: 14px;
}
.items-infos__sellers ul li span {
  color: #6D6D6D;
}
.items-infos__sellers ul li:not(:last-child) {
  margin-bottom: 10px;
}