.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.items-news__hots .img-news__hots > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 58%;
  overflow: hidden;
  border-radius: 20px;
}
.items-news__hots .img-news__hots > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.items-news__hots .intros-news__hots .names-news__hots {
  color: #0C2054;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.items-news__hots .intros-news__hots .views-times__alls li img {
  -webkit-filter: brightness(0) saturate(100%) invert(68%) sepia(58%) saturate(549%) hue-rotate(348deg) brightness(96%) contrast(102%);
          filter: brightness(0) saturate(100%) invert(68%) sepia(58%) saturate(549%) hue-rotate(348deg) brightness(96%) contrast(102%);
}
.items-news__hots .intros-news__hots p {
  color: #788197;
}

.list-news__pages {
  padding-top: 40px;
  margin-top: 40px;
  border-top: solid 1px #E2E7E9;
}

.items-news__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px;
  background: #FCFCFC;
  border: 1px solid #E2E7E9;
  border-radius: 20px;
}
.items-news__pages:not(:last-child) {
  margin-bottom: 40px;
}
.items-news__pages .img-news__pages {
  width: 350px;
  margin-right: 40px;
}
.items-news__pages .img-news__pages > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 63%;
  overflow: hidden;
  border-radius: 20px;
}
.items-news__pages .img-news__pages > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.items-news__pages .intros-news__pages {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.items-news__pages .intros-news__pages .names-news__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0C2054;
}
.items-news__pages .intros-news__pages .names-news__pages:hover, .items-news__pages .intros-news__pages .names-news__pages:focus {
  text-decoration: underline;
}
.items-news__pages .intros-news__pages p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3 !important;
  overflow: hidden;
  max-height: 100% !important;
}

.news-topic__sidebars {
  padding: 30px;
  background: #FFFFFF;
  border: 1px solid #E2E7E9;
  -webkit-box-shadow: 0px 5px 20px rgba(6, 34, 50, 0.15);
          box-shadow: 0px 5px 20px rgba(6, 34, 50, 0.15);
  border-radius: 20px;
}

.items-news__topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.items-news__topics:not(:last-child) {
  margin-bottom: 20px;
}
.items-news__topics .img-news__topics {
  width: 100px;
  margin-right: 10px;
}
.items-news__topics .img-news__topics > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.items-news__topics .img-news__topics > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.items-news__topics .intros-news__topics {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.items-news__topics .intros-news__topics .names-news__topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0C2054;
}
.items-news__topics .intros-news__topics p {
  color: #788197;
}

.news-hots__sidebars {
  padding: 30px;
  background: #FFFFFF;
  border: 1px solid #E2E7E9;
  border-radius: 20px;
}

.items-hots__sidebars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.items-hots__sidebars:not(:last-child) {
  margin-bottom: 20px;
}
.items-hots__sidebars .img-news__topics {
  width: 80px;
  margin-right: 10px;
}
.items-hots__sidebars .img-news__topics > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.items-hots__sidebars .img-news__topics > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.items-hots__sidebars .intros-news__topics {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.items-hots__sidebars .intros-news__topics .names-news__topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.items-hots__sidebars .intros-news__topics .names-news__topics:hover, .items-hots__sidebars .intros-news__topics .names-news__topics:focus {
  color: #2EA1DB;
  text-decoration: underline !important;
}
.items-hots__sidebars .intros-news__topics .views-times__alls li img {
  -webkit-filter: brightness(0) saturate(100%) invert(68%) sepia(58%) saturate(549%) hue-rotate(348deg) brightness(96%) contrast(102%);
          filter: brightness(0) saturate(100%) invert(68%) sepia(58%) saturate(549%) hue-rotate(348deg) brightness(96%) contrast(102%);
}

.app-footers__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.app-footers__details li:not(:last-child) {
  margin-right: 15px;
}
.app-footers__details li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.app-footers__details li a:hover img, .app-footers__details li a:focus img {
  -webkit-transform: roatate(1.1);
          transform: roatate(1.1);
}
.app-footers__details li a img {
  width: 32px;
  height: 32px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.names-mains__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0C2054;
}
.names-mains__details:hover, .names-mains__details:focus {
  color: #2EA1DB;
}

.bottom-news__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid 1px #E2E7E9;
  margin-top: 30px;
  padding-top: 30px;
}

.content-news__pages .views-times__alls li img {
  -webkit-filter: brightness(0) saturate(100%) invert(80%) sepia(62%) saturate(1749%) hue-rotate(333deg) brightness(100%) contrast(94%);
          filter: brightness(0) saturate(100%) invert(80%) sepia(62%) saturate(1749%) hue-rotate(333deg) brightness(100%) contrast(94%);
}