$growns:#751113;
$growns-2s:#A80610;
$growns-3s:#C9252C;


$blues-3:#05A9D7;
$blues-4:#4B48EF;
$pinks:#FF7171;
$creams:#F2EFEC;
$smokdes:#8298AB;
$blues-3:#142844;
$greys:#CCCFD2;
$greens-1:#73A141;
$greens-2:#608835;


$text:#444B5E;

$oranges:#F6AA35;

$blues:#2EA1DB;
$blues-2:#0C2054;

a {

    &:hover,
    &:focus {}
}

.a {
    position: relative;
    display: flex;
    width: 100%;
    height: 1px;
    padding-top: 100%;

    img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



/* :not(:last-child) */
/* :nth-child(1n+0) */