@import 'base';

.banner-alls__pages {
    position: relative;
    display: flex;
    width: 100%;
    height: 1px;
    padding-top: 36%;
    overflow: hidden;
    border-radius: 20px;

    img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.videos-about__pages {
    .videos-about__mains {
        transform: translateY(100px);
    }
}

.abouts-sevice__pages {
    background-color: #C6E9F8;
    margin-bottom: 200px;

    .container {
        transform: translateY(105px);
    }
}

.top-abouts__sevice {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .text-top__abouts {
        flex: 1;
        max-width: 600px;
        margin-left: 20px;
    }
}

.list-abouts__sevices {
    .row {
        &>[class^='col'] {
            margin-bottom: 40px;
        }
    }
}

.items-abouts__sevices {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 40px;
    min-height: 240px;
    transition: all 0.2s;
    filter: drop-shadow(0px 5px 10px rgba(6, 34, 50, 0.1));

    &:hover,
    &:focus {
        background-color: $blues;
        transform: translateY(-10px);

        img {
            filter: brightness(0) invert(1);
        }

        .names-abouts__sevices {
            color: #FFFFFF;
        }
    }

    &:after {
        content: "";
        position: absolute;
        display: flex;
        right: 0px;
        bottom: 0px;
        width: 45%;
        height: 1px;
        padding-top: 50%;
        background: url(../images/after-sevice-abouts.png) no-repeat center;
        background-size: cover;
    }

    img {
        width: 64px;
        height: 64px;
        object-fit: scale-down;
        margin-bottom: 15px;
        position: relative;
        z-index: 10;
        transition: all 0.2s;

    }

    .names-abouts__sevices {
        display: flex;
        color: $blues-2;
        position: relative;
        z-index: 10;
    }
}

.data-abouts__visions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items-data__visions {
    text-align: center;

    img {
        margin-bottom: 20px;
        height: 50px;
        object-fit: scale-down;
    }

    .titles-transform__alls {
        color: #788197;
    }

    .number-abouts__visions {
        padding-bottom: 15px;
        margin-bottom: 15px;
        position: relative;

        &:after {
            content: "";
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin-left: auto;
            margin-right: auto;
            height: 1px;
            width: 36px;
            background-color: #E2E7E9;
            display: flex;
            position: absolute;
        }
    }
}


.slide-abouts__visions {
    position: relative;
    z-index: 100;

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
        visibility: hidden;
    }

    .group-btns__showss {
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 1px;
        width: 100%;
        z-index: 10;
        top: 50%;
        left: 0px;
        transform: translateY(-20px);

        .showss-button-prev,
        .showss-button-next {
            transition: all 0.3s;
            position: relative;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            border-radius: 1000px;
            background-color: rgba(255, 255, 255, 0.4);
            padding: 0px;
            color: #788197;
            font-size: 24px;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

            &:hover,
            &:focus {
                transform: scale(1.2);
            }

        }

        .showss-button-prev {
            left: 30px;
        }

        .showss-button-next {
            right: 30px;
        }

    }

    .swiper-pagination {
        position: absolute;
        bottom: 30px;

        .swiper-pagination-bullet {
            margin: 0px !important;
            width: 6px;
            height: 6px;
            border-radius: 1000px;
            border: 0px;
            background-color: #D9D9D9;
            opacity: 1;
            transition: all 0.2s;

            &:not(:last-child) {
                margin-right: 6px !important;
            }
        }

        .swiper-pagination-bullet-active {
            background-color: $blues;
        }
    }
}

.items-abouts__visions {
    >a {
        position: relative;
        display: flex;
        width: 100%;
        height: 1px;
        padding-top: 65%;
        overflow: hidden;
        border-radius: 20px;

        img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.about-vision {

    .container {
        .row {
            align-items: center;
        }
    }
}

.sl-images__visions {
    .swiper-slide {
        width: auto;
    }
}

.items-images__visions {
    img {
        border-radius: 20px;
    }
}