@import 'base';

.contents-price__lists {
    &:after {
        display: flex;
        content: "";
        left: 0px;
        top: 0px;
        width: 100%;
        padding-top: 40%;
        position: absolute;
        background: url(../images/after-bang-gia.png) no-repeat center top;
        background-size: cover;
    }

    .container {
        position: relative;
        z-index: 10;
    }
}

.img-price__lists {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: fit-content;
}

.intros-prices__lists {
    background-color: #FFFFFF;
    border: solid 1px #E2E7E9;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 45px;
    border-radius: 20px;
    font-size: 18px;
    padding-top: 0px;

    >.row {
        align-items: center;
        padding: 15px 0px;

        &:nth-child(2n+1) {
            background-color: #F9FBFB;
        }

        &:first-child {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #E2E7E9;
            background-color: #FFFFFF;
        }

        &>[class^='col'] {

            &:nth-child(1) {
                font-family: 'SVN-GilroyBold';
            }

            &:nth-child(2) {
                text-align: center;
                color: #788197;

                p {
                    position: relative;
                    width: fit-content;

                    &:after {
                        content: "";
                        position: absolute;
                        display: flex;
                        bottom: 0px;
                        right: 0px;
                        bottom: 0px;
                        height: 1px;
                        width: 10px;
                        background-color: #788197;
                    }
                }
            }
        }

        &:not(:first-child) {
            border: solid 1px transparent;
            border-radius: 10px;
            transition: all 0.3s;

            &:hover,
            &:focus {
                border: solid 1px $blues;

                &>[class^='col'] {
                    &:nth-child(1) {
                        color: $blues;
                    }

                    &:nth-child(2) {
                        color: $blues-2;
                    }
                }

                .btn-greys__alls {
                    background-color: $blues-2;
                    color: #FFFFFF;
                }
            }
        }
    }

    .btn-greys__alls {
        width: 100%;
        padding: 5px 10px;
        font-size: 14px;
    }
}

.btn-classify__prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    border: 1px solid #E2E7E9;
    box-shadow: 0px 0px 10px rgba(6, 34, 50, 0.1);
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 15px;
    position: relative;

    span {
        display: flex;
        width: 100%;
        flex: 1;
        margin: 0px 10px;
        font-family: 'SVN-GilroyBold';
        font-size: 16px;
        text-transform: uppercase;
        background: linear-gradient(219.25deg, #47BAEC -17.1%, #36A9E1 37.43%, #1488CA 91.95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    img {
        width: 45px;
        object-fit: scale-down;
    }

    i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 1000px;
        color: #FFFFFF;
        background: linear-gradient(219.25deg, #17B1F4 -17.1%, #239BD6 37.43%, #145DCA 91.95%);
    }

    .list-classify__pricess {
        position: absolute;
        left: 0px;
        top: 100%;
        width: 100%;
        height: fit-content;
        background-color: #FFFFFF;
        z-index: 10;
        background: #FFFFFF;
        box-shadow: 0px 5px 20px rgba(6, 34, 50, 0.15);
        border-radius: 10px;
        display: none;

        li {
            font-family: 'SVN-Gilroy';

            a {
                display: flex;
                padding: 10px 15px;

                &:hover,
                &:focus {
                    background-color: #F0F3F8;
                    font-family: 'SVN-GilroyBold';
                    color: $blues-2;
                }
            }

            .active {
                background-color: #F0F3F8;
                font-family: 'SVN-GilroyBold';
                color: $blues-2;
            }
        }
    }
}

.price-your__care {
    padding: 90px 0px;
    background-color: #F9FBFB;
}

.infos-price__care {
    max-width: 915px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.list-price__cares {

    li {
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid #E2E7E9;
        display: flex;
        align-items: center;

        &:hover,
        &:focus {
            &:before {
                width: 20px;
            }
        }

        &:before {
            display: flex;
            width: 0px;
            height: 15px;
            margin-right: 10px;
            content: "";
            background: url(../images/arrows-hide-icons.png) no-repeat center;
            background: contain;
            filter: brightness(0) saturate(100%) invert(57%) sepia(96%) saturate(1101%) hue-rotate(170deg) brightness(87%) contrast(98%);
            transition: all 0.3s;
        }

        a {
            font-family: 'SVN-GilroyBold';
            color: $blues-2;
            font-size: 16px;

        }
    }
}