@import 'base';

.list-sevice__navs {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px;

    li {
        width: 16.66%;
        padding: 0px 10px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #F5F7F7;
            width: 100%;
            min-height: 100px;
            border-radius: 20px;
            color: #788197;
            font-family: 'SVN-GilroyBold';

            &:hover,
            &:focus {
                color: #FFFFFF;
                background-color: $blues;
            }
        }

        .active {
            color: #FFFFFF;
            background-color: $blues;
        }
    }
}

.slide-service__images {
    position: relative;
    z-index: 100;

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
        visibility: hidden;
    }

    .group-btns__showss {
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 35px;
        width: fit-content;
        z-index: 10;
        top: 35px;
        left: 35px;
        font-size: 24px;

        .showss-button-prev,
        .showss-button-next {
            transition: all 0.3s;
            position: relative;
            width: 35px;
            height: 35px;
            display: flex;
            padding: 3px;
            border: solid 1px #FFFFFF;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            border-radius: 1000px;
            padding: 0px;
            color: #BABABA;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

            &:hover,
            &:focus {
                transform: scale(1.2);
            }

        }

        .showss-button-prev {

            img {
                transform: rotate(180deg);
            }

            margin-right: 15px;
        }

        .showss-button-next {}

    }

    .swiper-pagination {
        position: relative;
        margin-top: 20px;
        bottom: 0px;

        .swiper-pagination-bullet {
            margin: 0px !important;
            width: 6px;
            height: 6px;
            border-radius: 1000px;
            border: 0px;
            background-color: #D9D9D9;
            opacity: 1;
            transition: all 0.2s;

            &:not(:last-child) {
                margin-right: 5px !important;
            }
        }

        .swiper-pagination-bullet-active {
            background-color: $blues;
        }
    }
}

.intros-sevice__boxs {
    .slide-service__images {
        margin-top: 70px;
    }
}

.sevice-catagory__pages {
    .items-why__mains {
        padding: 40px 35px;
        background: #FFFFFF;
        border: 1px solid #E2E7E9;
        border-radius: 20px;
        margin-bottom: 30px;

        .img-why__mains {
            &+.titles-bold__alls {
                max-width: 70%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0px;
            }
        }

        .text-why__mains {
            padding-bottom: 50px;
        }

        .btn-blues__alls {
            min-height: 45px;
            margin-left: auto;
            margin-right: auto;
            margin-top: -20px;
            text-transform: inherit;
        }
    }

    .row {
        justify-content: center;
    }
}

.sevice-half__bottom {
    .items-why__mains {
        height: 100%;
        border: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .row {
        border-radius: 20px;
        overflow: hidden;
        border: solid 1px #D9D9D9;
    }
}

.text-introduce__sevices {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.left-post__sevices {
    padding: 30px;
    background-color: #F9FBFB;

    ul {
        li {
            &:not(:last-child) {
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: dashed 1px #B3C1E5;
            }

            a {

                &:hover,
                &:focus {
                    color: $blues-2;
                    font-family: 'SVN-GilroyBold';
                }
            }

            .active {
                color: $blues-2;
                font-family: 'SVN-GilroyBold';

            }
        }
    }
}

.bg-white__alls {
    background-color: #FFFFFF !important;
}

.intros-text__sevices {
    img {
        margin-bottom: 40px;
    }
}