@import 'base';

.box-left__contacts {
    background-color: $blues;
    padding: 50px;
    color: #FFFFFF;
    font-size: 18px;

    a {
        color: #FFFFFF;
    }
}

.tops-contacts__lefts {
    display: flex;

    >img {
        width: 80px;
        height: fit-content;
    }
}

.intros-tops__contacts {
    width: 100%;
    flex: 1;
    margin-right: 30px;

    ul {
        border-top: solid 1px #FFFFFF;
        padding-top: 35px;
        margin-top: 35px;

        li {
            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }
    }

}


.phone-contacts__pages {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: 'SVN-GilroyBold';

    img {
        width: 24px;
        min-width: 24px;
        height: 24px;
        margin-right: 10px;
        object-fit: scale-down;
        filter: brightness(0) invert(1);
    }
}

.apps-contacts__pages {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    margin-top: 40px;
    border-top: solid 1px #FFFFFF;

    li {
        &:not(:last-child) {
            margin-right: 20px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 1000px;
            border: solid 1px #FFFFFF;

            img {
                width: 80%;
                height: auto;
                object-fit: scale-down;

            }
        }
    }
}

.box-right__contacts {
    height: 100%;
    border: solid 1px #E2E7E9;
    position: relative;

    .row {
        height: 100%;
    }

    &:after {
        content: "";
        display: flex;
        position: absolute;
        width: 40%;
        height: 60%;
        left: 0px;
        bottom: 0px;
        background: url(../images/after-sevice-abouts.png) no-repeat center;
        background-size: cover;
        transform: rotateY(180deg);
    }
}

.infos-rights__contacts {
    padding: 50px;
    position: relative;
    font-size: 18px;
    position: relative;
    z-index: 20;

    ul {
        padding-top: 30px;
        margin-top: 35px;
        border-top: solid 1px #E2E7E9;

        li {
            &:not(:last-child) {
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: dashed 1px #E2E7E9;
            }
        }
    }
}

.maps-contacts___details {
    position: relative;
    width: 100%;
    height: 100%;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }
}

.book-calendar__contacts {
    padding: 120px 0px;
    background-color: #F9FBFB;
    position: relative;
    overflow: hidden;

    form {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 10;

        .row {

            &>[class^='col'] {
                margin-bottom: 20px;
            }
        }

        .bg-contacts__pages {
            position: absolute;
            width: 370px;
            height: 390px;
            left: 110%;
            bottom: -5%;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
        }
    }

    .btn-oranges__alls {
        min-width: 290px;
        margin-left: auto;
        margin-right: auto;
    }
}