@import 'base';

.banner-mains {
    position: relative;
    overflow: hidden;
    width: 100%;

    .bg-banner__mains {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container {
        position: relative;
        z-index: 10;
        padding-bottom: 60px;
        padding-top: 60px;

        .row {
            align-items: center;
        }

        .img-banner__mains {
            transform: translateY(60px);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;



            >img {
                position: relative;
                z-index: 10;
            }

            .animations-banners {
                position: absolute;
                width: 100%;
                height: auto;
                -webkit-animation: linear infinite;
                -webkit-animation-name: leftRight;
                -webkit-animation-duration: 3s;

            }
        }
    }
}


@-webkit-keyframes leftRight {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(50px);
    }

    100% {
        transform: translate(0px);
    }
}

@keyframes leftRight {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(50px);
    }

    100% {
        transform: translate(0px);
    }
}

.intros-banner__mains {
    color: #FFFFFF;
    padding-right: 20%;
}

.book-mains {
    padding: 120px 0px;
    width: 100%;
    overflow: hidden;

    >.container {
        >.row {
            align-items: center;
        }
    }
}

.img-book-videos {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .img-book__animations {
        position: absolute;
        width: 100%;
        height: auto;
        -webkit-animation: linear infinite;
        -webkit-animation-name: leftRight;
        -webkit-animation-duration: 3s;

    }

    img {
        width: 100%;
        object-fit: scale-down;
        position: relative;
        z-index: 10;
    }
}

.book-videos__mains {
    position: relative;

    .btn-book__videos {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;
        bottom: 10%;
        z-index: 10;

        img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }
}

.form-book__mains {
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(6, 34, 50, 0.15);
    border-radius: 20px;
    overflow: hidden;

    .titles-book__forms {
        padding: 30px 40px;
        background-color: $blues-2;
        color: #FFFFFF;
    }

    form {
        padding: 40px 30px;

        >.row {
            &>[class^='col'] {
                margin-bottom: 15px;
            }
        }
    }

    .btn-oranges__alls {
        width: 100%;
    }
}

.items-why__mains {
    text-align: center;

    .img-why__mains {
        width: 50px;
        height: 50px;
        margin-right: auto;
        margin-left: auto;

        img {
            object-fit: scale-down;
        }
    }

    .text-why__mains {
        padding: 40px 0px;
        color: #788197;
        background: url(../images/bg-text-why.png) no-repeat center bottom;
        background-size: contain;

    }
}

.why-me__mains {
    padding: 120px 0px;
    background-color: #FAFCFC;
}

.text-padding__abouts {
    padding-left: 35px;

    .text-before__mains {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: -35px;
            top: 0px;
            height: 100%;
            width: 4px;
            border-radius: 1000px;
            background-color: $blues;
        }
    }
}

.groups-btn__afters {
    width: fit-content;
    position: relative;


    &:after {
        content: "";
        position: absolute;
        top: 45%;
        width: 35%;
        height: 45%;

    }

    &>[class^='btn'] {
        -webkit-box-shadow: 0px 20px 50px -25px rgb(0 0 0 / 75%) !important;
        box-shadow: 0px 20px 50px -25px rgb(0 0 0 / 75%) !important;
        margin-bottom: 30px;
    }

    img {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: fit-content;
        height: auto;
        transition: all 0.3s;
    }

    &:hover,
    &:focus {
        >img {
            -webkit-animation: linear infinite;
            -webkit-animation-name: btnLeftAnimations;
            -webkit-animation-duration: 2s;
        }
    }
}

@-webkit-keyframes btnLeftAnimations {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(30px);
    }

    100% {
        transform: translate(0px);
    }
}

@keyframes btnLeftAnimations {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(30px);
    }

    100% {
        transform: translate(0px);
    }
}


.videos-about__mains {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        content: "";
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
        position: absolute;
        z-index: 10;
    }

    >img {
        width: 100%;
        height: 100%;
    }

    .btn-videos__abouts {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 135px;
        height: 135px;
        border-radius: 1000px;
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        z-index: 20;

        img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }
}

.about-mains {
    padding: 100px 0px;
}

.sevice-hot__mains {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}


.sevice-hot__mains::-webkit-scrollbar {
    display: none;
}

.sevice-hot__mains::-webkit-scrollbar-track {
    display: none;
}

.sevice-hot__mains::-webkit-scrollbar-thumb {
    display: none;
}

.list-sevice__hots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-gap: 12px;
    min-width: 120%;

    .items-sevices__hots {
        -webkit-box-flex: 1;
        -webkit-flex: auto;
        -moz-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        border-radius: 20px;
        position: relative;
        overflow: hidden;

        &:hover,
        &:focus {
            .intros-sevice__hots {
                opacity: 1;
            }
        }

        >img {
            height: 100%;
            max-height: 280px;
            object-fit: cover;
            width: 100%;
        }

        .intros-sevice__hots {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 10;
            padding: 25px;
            display: flex;
            align-items: flex-end;
            background-color: rgb(12 32 84 / 59%);
            opacity: 0;
            transition: all 0.3s;
            color: #FFFFFF;

            &:after {
                content: "";
                background: url(../images/close-alls-icons.svg) no-repeat center;
                background-size: contain;
                display: flex;
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                width: 20px;
                height: 20px;
                margin: auto;
                transform: rotate(45deg);
            }
        }
    }
}

.custoner-experience {
    padding: 120px 0px;
    background-color: #FEF5E9;

    .container {
        max-width: 770px;
        margin-right: auto;
        margin-left: auto;
    }
}

.slide-customer__mains {
    position: relative;
    z-index: 100;

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
        visibility: hidden;
    }

    .group-btns__showss {
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 1px;
        width: 100%;
        z-index: 10;
        top: 50%;
        left: 0px;
        font-size: 24px;
        transform: translateY(-10px);

        .showss-button-prev,
        .showss-button-next {
            transition: all 0.3s;
            position: relative;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            border-radius: 1000px;
            padding: 0px;
            color: #BABABA;
            font-size: 36px;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

            &:hover,
            &:focus {
                transform: scale(1.2);
                color: $oranges;
            }

        }

        .showss-button-prev {
            left: -170px;
        }

        .showss-button-next {
            right: -170px;
        }

    }

    .swiper-pagination {
        position: relative;
        margin-top: 50px;
        bottom: 0px;

        .swiper-pagination-bullet {
            margin: 0px !important;
            width: 24px;
            height: 6px;
            border-radius: 1000px;
            border: 0px;
            background-color: #E2E7E9;
            opacity: 1;
            transition: all 0.2s;

            &:not(:last-child) {
                margin-right: 5px !important;
            }
        }

        .swiper-pagination-bullet-active {
            background-color: $oranges;
            width: 70px;
        }
    }

}

.items-customers__mains {
    text-align: center;
}

.news-mains {
    padding: 120px 0px;
}



.slide-news__mains {
    position: relative;
    z-index: 100;

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
        visibility: hidden;
    }

    .group-btns__showss {
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 1px;
        width: 100%;
        z-index: 10;
        top: 50%;
        left: 0px;
        font-size: 24px;
        transform: translateY(-10px);

        .showss-button-prev,
        .showss-button-next {
            transition: all 0.3s;
            position: relative;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            border-radius: 1000px;
            padding: 0px;
            color: #BABABA;
            font-size: 36px;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

            &:hover,
            &:focus {
                transform: scale(1.2);
                color: $oranges;
            }

        }

        .showss-button-prev {
            left: -170px;
        }

        .showss-button-next {
            right: -170px;
        }

    }

}

.items-news__mains {
    border: solid 1px #E2E7E9;
    border-radius: 20px;

    .img-news__mains {
        >a {
            position: relative;
            display: flex;
            width: 100%;
            height: 1px;
            overflow: hidden;
            padding-top: 70%;
            border-radius: 20px;

            &:hover,
            &:focus {
                img {
                    transform: scale(1.1);
                }
            }

            img {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s;
            }
        }
    }

    .intros-news__mains {
        padding: 20px 30px;

        .names-news__mains {
            display: flex;
            color: $blues-2;

            &:hover,
            &:focus {
                color: $blues;
            }

        }

        .text-news__mains {
            position: relative;
            border-top: solid 1px #E2E7E9;
            padding-top: 25px;
            margin-top: 25px;
            margin-bottom: 10px;

            &:after {
                content: "";
                position: absolute;
                left: 0px;
                right: 0px;
                top: -8px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                width: 16px;
                height: 16px;
                background: url(../images/plus-box-1.png) no-repeat center;
                background-size: contain;
                z-index: 10;
            }
        }
    }
}