// normalize
@import 'base';
@import 'function';


body {
    line-height: 1.5;
    color: $text;
    word-break: break-word;
    position: relative;
    font-size: 16px;
    font-family: 'SVN-Gilroy';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-bottom: 0px;

    a {
        color: inherit;
        text-decoration: none;
        display: inline-block;

        &:hover {
            color: inherit;
        }
    }
}

a,
input,
button,
textarea,
select {

    &,
    &:focus {
        outline: 0;
        box-shadow: none !important;
        background-clip: unset !important;
        text-decoration: none;
    }
}

dl,
ol,
ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

// 
main {
    // min-height: calc(100vh - footer+header )
}


// 
// 
a {
    transition: all 0.2s;
    cursor: pointer;
    color: inherit;

    &:hover {
        text-decoration: none;
    }

}

p {
    margin-bottom: 0;
    line-height: 1.49;
}

table {
    td {}
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

.center {
    text-align: center;
}

.s-content ol {
    list-style: decimal;
    margin-left: 15px;
    margin-bottom: 10px;
}

.s-content ul {
    list-style: initial;
    margin-left: 15px;
    margin-bottom: 10px;
}

.s-content li {
    list-style: inherit;
    margin-bottom: 5px;
}

.s-content p {
    margin-bottom: 15px;
}

.s-content img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
    width: auto !important;
    -o-object-fit: contain;
    object-fit: contain;
    height: auto !important;
    max-width: 100%;
}

.s-content table,
.s-content iframe {
    max-width: 100%;
    width: 100%;
}

.s-content table {
    border-collapse: collapse;
    width: 100%;
    border: solid 1px #000006;
}

.s-content table td {
    border-collapse: collapse;
    border: solid 1px #000006;
    padding: 3px;
}

.s-content h1,
.s-content h2,
.s-content h3,
.s-content h4,
.s-content h5,
.s-content h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.s-content h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.s-content h2 {
    font-size: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.s-content h3 {
    font-size: 1.17em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.s-content h4 {
    font-size: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.s-content h5 {
    font-size: 0.83em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.s-content h6 {
    font-size: 0.67em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

// bootstrap override

/* font */

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-Gilroy.eot?#iefix') format('embedded-opentype'), url('../fonts/SVN-Gilroy.woff') format('woff'), url('../fonts/SVN-Gilroy.ttf') format('truetype'), url('../fonts/SVN-Gilroy.svg#SVN-Gilroy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GilroyMedium';
    src: url('../fonts/SVN-GilroyMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/SVN-GilroyMedium.woff') format('woff'), url('../fonts/SVN-GilroyMedium.ttf') format('truetype'), url('../fonts/SVN-GilroyMedium.svg#SVN-GilroyMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GilroyBold';
    src: url('../fonts/SVN-GilroyBold.eot?#iefix') format('embedded-opentype'), url('../fonts/SVN-GilroyBold.woff') format('woff'), url('../fonts/SVN-GilroyBold.ttf') format('truetype'), url('../fonts/SVN-GilroyBold.svg#SVN-GilroyBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


b {}

strong {

    font-weight: 500;
}

.swiper-container-multirow-column>.swiper-wrapper {
    flex-direction: unset;
}


.swiper-container {
    height: fit-content;

    .swiper-slide {
        height: fit-content;
    }
}


@media (min-width: 1440.98px) {
    .container {
        max-width: 1380px;
    }
}

/* end font */

// spacing

// limit line
.limit-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-height: 1.5em;
    line-height: 1.5;

    &--2 {
        -webkit-line-clamp: 2;
        max-height: 3em;
    }

    &--3 {
        -webkit-line-clamp: 3;
        max-height: 4.5em;
    }

    &--4 {
        -webkit-line-clamp: 4;
        max-height: 6em;
    }
}

form {
    margin-bottom: 0px;
}

/* variable */

/* search-group */

.d-nones {
    display: none;
}

.w-100ss {
    width: 100% !important;
}

/* ---- */

%limit-line1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1 !important;
    overflow: hidden;
    max-height: 100% !important;
    line-height: 1.5;
}

%limit-line2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2 !important;
    overflow: hidden;
    max-height: 100% !important;
    line-height: 1.2;
}

%limit-line3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3 !important;
    overflow: hidden;
    max-height: 100% !important;
    line-height: 1.5;
}

%limit-line4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4 !important;
    overflow: hidden;
    max-height: 100% !important;
    line-height: 1.5;
}

%limit-line5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5 !important;
    overflow: hidden;
    max-height: 100% !important;
    line-height: 1.5;
}


%ul-basic {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.gutter-0 {
    margin: 0 0px;

    &>[class^='col'] {
        padding: 0 0px;
    }
}

.gutter-16 {
    margin: 0 -8px;

    &>[class^='col'] {
        padding: 0 8px;
    }
}

.gutter-20 {
    margin: 0 -10px;

    &>[class^='col'] {
        padding: 0 10px;
    }
}

.gutter-65 {
    margin: 0 -32px;

    &>[class^='col'] {
        padding: 0 32px;
    }
}

.gutter-40 {
    margin: 0 -20px;

    &>[class^='col'] {
        padding: 0 20px;
    }
}

.gutter-60 {
    margin: 0 -30px;

    &>[class^='col'] {
        padding: 0 30px;
    }
}

.gutter-70 {
    margin: 0 -35px;

    &>[class^='col'] {
        padding: 0 35px;
    }
}

.gutter-100 {
    margin: 0 -50px;

    &>[class^='col'] {
        padding: 0 50px;
    }
}

.gutter-156 {
    margin: 0 -78px;

    &>[class^='col'] {
        padding: 0 78px;
    }
}

.gutter-300 {
    margin: 0 -150px;

    &>[class^='col'] {
        padding: 0 150px;
    }
}


/* header */


.header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: 1000;
    transition: all 0.05s;
    background-color: transparent;
}


.overflow-hidden {
    overflow: hidden;
}

.actives-fixed__headers {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;

}

.headers-fixed {
    position: fixed !important;
    height: auto;
    width: 100%;
    animation-duration: 3s;
    animation-delay: 0s !important;
    z-index: 99;
    animation-name: slideInDown;
    background-color: black !important;
}


@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }

    100% {
        transform: translateY(0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}


.menu ul li a {
    text-decoration: none;
}

.active-tops {
    opacity: 1 !important;
    z-index: 9 !important;
    visibility: visible !important;
}

.back-menu {
    position: absolute;
    right: 15px;
    top: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 36px;
    font-weight: bold;
    transition: all 0.2s;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%)
    }
}

.menu {
    width: fit-content;
}

.logo-menu__mobile {
    display: none;
}

.menu-desktop {
    position: relative;

    >ul {
        display: flex;
        align-items: center;

        >li {
            display: flex;
            align-items: center;
            position: relative;

            i {
                font-size: 16px;
                font-style: inherit;
                margin-left: 10px;
                height: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $blues;

                &:after {
                    font-family: 'fontawesome';
                    content: "\f107";
                }
            }

            &:not(:last-child) {
                margin-right: 30px;
            }

            &:after {
                display: none;
            }

            &:hover,
            &:focus {

                >ul {
                    transform: translateY(0px);
                    opacity: 1;
                    visibility: visible;
                    z-index: 10;
                }

                .img-banner__menus {
                    opacity: 1;
                    visibility: visible;
                }
            }

            >a {
                width: 100%;
                color: $text;
                transition: all 0.3s;
                position: relative;
                font-size: 15px;
                position: relative;
                display: flex;
                align-items: center;
                font-family: 'SVN-GilroyMedium';
                text-transform: uppercase;

                &:hover,
                &:focus {}
            }

            /* submenu */

            ul {
                position: absolute;
                top: 100%;
                left: 0px;
                height: auto;
                width: 185px;
                transition: all 0.2s;
                background-color: #FFFFFF;
                flex-wrap: wrap;
                border-radius: 0px;
                z-index: 0;
                opacity: 0;
                visibility: hidden;
                background: #FFFFFF;
                box-shadow: 0px 5px 20px rgba(6, 34, 50, 0.15);
                border-radius: 10px;

                li {
                    width: 100%;

                    a {
                        display: flex;
                        align-items: center;
                        color: #6D6D6D;
                        font-size: 16px;
                        min-width: max-content;
                        text-transform: initial;
                        padding: 10px 15px;

                        &:hover,
                        &:focus {
                            color: $blues-2;
                            font-family: 'SVN-GilroyBold';
                            background-color: #F0F3F8;
                        }

                        img {
                            margin-right: 10px;
                            width: 22px;
                            height: 22px;
                            object-fit: scale-down;
                            transition: all 0.3s;
                            border: solid 1px transparent;
                            filter: brightness(0) saturate(100%) invert(58%) sepia(42%) saturate(543%) hue-rotate(46deg) brightness(90%) contrast(89%);
                        }

                    }

                    &:after {
                        display: none;
                    }

                    &:hover,
                    &:focus {
                        ul {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    ul {
                        position: absolute;
                        top: 0;
                        opacity: 0;
                        z-index: 10;
                        transition: all 0.2s;
                        background-color: #FFFFFF;

                        li {
                            width: 100%;

                            a {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &:nth-child(6) {
                position: relative;

                ul {
                    width: 250px;
                    height: auto;
                    padding: 10px 0px;

                    li {
                        padding: 15px 30px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        margin-bottom: 0px;
                        width: 100%;

                        &:hover,
                        &:focus {
                            &:before {
                                opacity: 1;
                            }

                            a {}
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            left: 0px;
                            width: 8px;
                            height: 50px;
                            background: url(../images/before-menus.svg) no-repeat center;
                            background-size: contain;
                            transition: all 0.2s;
                            opacity: 0;
                        }
                    }
                }
            }

        }
    }
}

.button-phone {
    display: none;
    z-index: 10;
    position: relative;
    z-index: 100;
}

.opens-now {
    left: 0 !important;
    z-index: 9999;
}

.remove-all {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: none;
    top: 0;
    left: 0;
}

.out-menu {
    display: block !important;
}

.main-menu-mobile {
    display: none;
}


@media all and (max-width: 991.98px) {
    .main-menu-mobile {
        position: fixed !important;
        top: 0 !important;
        left: -100%;
        width: 290px;
        max-width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: #FFFFFF;
        display: block;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .main-menu-mobile::-webkit-scrollbar {
        width: 2px;
        border-radius: 0px;
    }

    .main-menu-mobile::-webkit-scrollbar-track {
        background-color: #6E4720;
    }

    .main-menu-mobile::-webkit-scrollbar-thumb {
        background-color: #F5D182;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .main-menu-mobile::-webkit-scrollbar-thumb:hover {
        background-color: #05843E;
    }

    .main-menu-mobile {
        scrollbar-face-color: #05843E;
        scrollbar-track-color: #fff;
    }

    .main-menu-mobile .header-menu-mobile {
        text-align: center;
        padding: 20px 0px;

    }

    .close-menu-btn {
        display: none;
    }

    .main-menu-mobile .header-menu-mobile .close-menu-btn {
        cursor: pointer;
        display: block;
        padding: 8px;
        border: solid 1px white;
    }

    .main-menu-mobile .header-menu-mobile .close-menu-btn i {
        color: #fff;
        font-size: 17px;
    }

    .main-menu-mobile .header-menu-mobile .close-menu-btn:hover {
        background-color: #fff;
    }

    .main-menu-mobile .header-menu-mobile .close-menu-btn:hover i {
        color: #F7941E;
    }

    .main-menu-mobile ul {
        max-height: 600px;
        overflow-y: auto;
    }

    .main-menu-mobile ul::-webkit-scrollbar {
        width: 2px;
        border-radius: 40px;
    }

    .main-menu-mobile ul::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .main-menu-mobile ul::-webkit-scrollbar-thumb {
        background-color: #05843E;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .main-menu-mobile ul::-webkit-scrollbar-thumb:hover {
        background-color: #F7941E;
    }

    .main-menu-mobile ul li {
        position: relative;
        display: block;
        overflow: hidden;
    }

    .main-menu-mobile ul li a {
        display: block;
        padding: 10px 15px;
        color: #111111;
        font-size: 14px;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        /* width: calc(100% - 60px); */
        border-bottom: solid 1px #ebebeb;
    }

    .main-menu-mobile ul li a:hover,
    .main-menu-mobile ul li.active a {
        color: #F7941E;
    }

    .main-menu-mobile ul li i {
        position: absolute;
        width: 30px;
        max-width: 100%;
        height: 30px;
        top: 0;
        right: 0;
        background-color: #F7941E;
        border-left: solid 1px #EBEBEB;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        opacity: 1;
        font-style: inherit;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .main-menu-mobile ul li i::before {
        font-family: "FontAwesome";
        content: "";
        font-size: 17px;
        color: black;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .main-menu-mobile ul li i.active::before {
        transform: rotate(-180deg);
    }

    .main-menu-mobile ul li:hover i {
        opacity: 1;
        background-color: #F7941E;
    }

    .main-menu-mobile ul li ul {
        position: static;
        width: 100%;
        display: none;
        max-height: unset;
    }

    .main-menu-mobile ul li ul li {
        border-top: 1px solid #fff;
    }

    .main-menu-mobile ul li ul li:last-child {
        border-bottom: none;
    }

    .main-menu-mobile ul li ul li a {
        width: 100%;
        padding-left: 20px;
        font-size: 13px;
        background-color: #ebebeb;
    }

    .main-menu-mobile ul li ul li ul li a {
        padding-left: 30px;
    }

    .active-menu-mobile {
        left: 0px !important;
    }

    .bg-over-menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        min-width: 20%;
        opacity: 0;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .bg-over-menu.show-over {
        right: 0;
        z-index: 8888;
        opacity: 1;
    }

}

.logo-mains {
    width: fit-content;
    margin-right: auto;

    img {
        max-width: 67px;
        object-fit: scale-down;
    }
}

.header {
    background-color: #FFFFFF;

    .container {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

.phones-rights__headers {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 20px;

    img {
        width: 24px;
        height: 24px;
        object-fit: scale-down;
        margin-right: 10px;
    }
}

.right-headers {
    padding-left: 24px;
    margin-left: 24px;
    position: relative;
    display: flex;
    align-items: center;

    &:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        margin-top: auto;
        margin-bottom: auto;
        width: 1px;
        height: 60%;
        background-color: #E2E7E9;
    }
}


.scroll-fixed__headers {}

/* end header */


/* footers */

.footers {
    background: url(../images/footers.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
}

.top-footers {
    padding: 100px 0px;
}

.titles-footers__alls {
    color: rgba(255, 255, 255, 0.8);
}

.box-footers {
    color: rgba(255, 255, 255, 0.5);

    a {

        &:hover,
        &:focus {
            color: #FFFFFF;
        }
    }
}

.list-intros__footers {
    li {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}


.phones-footers {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-right: 20px;

    img {
        width: 24px;
        height: 24px;
        object-fit: scale-down;
        margin-right: 10px;
    }
}

.app-footers {
    padding-top: 20px;
    margin-top: 20px;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.list-apps__footers {
    display: flex;
    flex-wrap: wrap;

    li {
        margin-bottom: 5px;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}

.list-nav__footers {

    li {
        &:not(:last-child) {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: solid 1px rgba(255, 255, 255, 0.1);
        }
    }
}

.bottom-footers {
    padding-top: 45px;
    padding-bottom: 15px;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.copy-rights__footers {
    color: rgba(255, 255, 255, 0.2);
}

.groups-fixed__alls {
    position: fixed;
    left: 70px;
    bottom: 20%;
    z-index: 10;
    width: fit-content;
    height: fit-content;

    li {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:last-child {
            margin-top: 30px;
        }

        img {
            width: 60px;
            height: 60px;
            border-radius: 1000px;
            object-fit: scale-down;
        }
    }
}

.up-to__tops {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #CAE0F6;
    color: $blues;
    border-radius: 1000px;
    border: 0px;
    font-size: 32px;
}

.phones-rings__fixed {
    display: flex;
    align-items: center;

    .number-phone__rings {
        position: relative;
        background-color: $blues;
        color: #FFFFFF;
        padding: 10px;
        padding-left: 70px;
        border-radius: 1000px;
    }

    .icons-phone__fixeds {
        position: absolute;
        left: 0px;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 65px;
            height: 65px;
            border-radius: 1000px;
            background-color: $blues;
            color: #FFFFFF;
            font-size: 28px;
            position: relative;
            z-index: 10;
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            transform: scale(2.3);
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0px;
            margin: auto;
            background: url(../images/bg-ring-phones.png) no-repeat center;
            background-size: cover;
        }
    }
}


/* and footer */


/* forms */

.btn-blues__alls {
    display: flex;
    min-height: 60px;
    min-width: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px $blues;
    background-color: $blues;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px 35px;
    transition: all 0.3s;
    border-radius: 1000px;
    text-transform: uppercase;
    font-family: 'SVN-GilroyMedium';

    img,
    i {
        margin-right: 10px;
        transition: all 0.3s
    }

    &:hover,
    &:focus {
        background-color: $blues-2;
        color: #FFFFFF !important;
        border-color: $blues-2;

        img {
            filter: brightness(0) invert(1);
        }
    }
}

.btn-blues__second {
    display: flex;
    min-height: 60px;
    min-width: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px $blues-2;
    background-color: $blues-2;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px 35px;
    transition: all 0.3s;
    border-radius: 1000px;
    text-transform: uppercase;
    font-family: 'SVN-GilroyMedium';

    img,
    i {
        margin-right: 10px;
        transition: all 0.3s
    }

    &:hover,
    &:focus {
        background-color: $blues;
        color: #FFFFFF !important;
        border-color: $blues;

        img {
            filter: brightness(0) invert(1);
        }
    }
}

.btn-oranges__alls {
    display: flex;
    min-height: 60px;
    min-width: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px $oranges;
    background-color: $oranges;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px 35px;
    transition: all 0.3s;
    border-radius: 1000px;
    text-transform: uppercase;
    font-family: 'SVN-GilroyMedium';

    img,
    i {
        margin-right: 10px;
        transition: all 0.3s
    }

    &:hover,
    &:focus {
        background-color: $blues;
        color: #FFFFFF !important;
        border-color: $blues;

        img {
            filter: brightness(0) invert(1);
        }
    }
}

.btn-greys__alls {
    display: flex;
    min-height: 45px;
    min-width: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px #E2E7E9;
    background-color: #E2E7E9;
    color: #788197;
    font-size: 15px;
    padding: 5px 35px;
    transition: all 0.3s;
    border-radius: 1000px;

    img,
    i {
        margin-right: 10px;
        transition: all 0.3s
    }

    &:hover {
        background-color: $blues;
        color: #FFFFFF !important;
        border-color: $blues;

        img {
            filter: brightness(0) invert(1);
        }
    }
}

.btn-blues__trans {
    display: flex;
    min-height: 45px;
    min-width: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px $blues-2;
    background-color: #FFFFFF;
    color: $blues-2;
    font-size: 16px;
    padding: 3px 20px;
    transition: all 0.3s;
    border-radius: 1000px;

    img {
        margin-left: 10px;
        transition: all 0.3s
    }

    &:hover,
    &:focus {
        background-color: $blues;
        color: #FFFFFF;
        border-color: $blues;

        img {
            filter: brightness(0) invert(1);
        }
    }
}

.input-alls {
    height: 50px;
}

.control-alls {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E2E7E9;
    border-radius: 1000px;
    padding: 15px 25px;
    font-size: 16px;

    &::placeholder {
        color: #788197;
    }
}



.control-select__alls {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    background-color: white;
    height: 50px;
    width: 100%;
    border-radius: 1000px;

    .select2-container {
        width: 100% !important;

        &:hover,
        &:focus {
            .select2-selection--single {
                border-color: #EBEBEB !important;
            }
        }
    }

    .select2-container--open {
        .select2-selection--single {
            border-bottom: solid 1px #EBEBEB !important;
        }
    }

    .select2-selection--single {
        border-radius: 1000px !important;
        display: flex;
        align-items: center;
        background: transparent;
        border: solid 1px #EBEBEB !important;
        outline: none !important;
        transition: all 0.3s;
        height: 50px;
        width: 100%;
        color: #788197 !important;

    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        display: flex;
        align-items: center;
        color: #788197 !important;
        border: 0px !important;
        outline: none !important;
        transition: all 0.3s;
        padding-left: 25px;
        padding-right: 25px;
        width: 100% !important;
        height: 50px;
    }


    .select2-container--default .select2-selection--single .select2-selection__arrow {
        width: auto;
        right: 20px;
        position: relative;
        height: auto;

        &:after {
            font-family: 'fontawesome';
            content: "\f107";
            font-size: 20px;
            color: $blues;
        }

        b {
            border-color: #8E8F9D transparent transparent transparent;
            display: none;

        }
    }


    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-color: transparent transparent #8E8F9D transparent !important;

    }

    .select2-container--open {
        .select2-selection__rendered {
            color: black !important;
        }

    }
}

.control-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    border: solid 1px #EBEBEB;
    padding: 0px 25px;
    position: relative;
    border-radius: 1000px;
    background-color: #FFFFFF;

    &:after {
        content: "";
        background: url(../images/calendar-icons-dates.svg) no-repeat center;
        background-size: contain;
        width: 20px;
        height: 20px;
        right: 15px;
        min-width: 20px;
        position: absolute;
        color: #788197;
    }

    input {
        padding-right: 15px !important;
        border: 0px;
        width: 100%;

        &::placeholder {
            color: #788197;
        }
    }
}

.control-texts {
    border-radius: 20px;
}

.control-date {
    position: relative;
    width: 100%;

    input[type='date']:after {
        color: #788197;
        content: attr(placeholder);
        position: absolute;
        left: 0px;
        z-index: 1;
        width: 100%;
    }

    input {
        padding-right: 0px !important;
        position: relative;
        color: transparent !important;
        text-align: left !important;
        background-color: transparent;
        -webkit-appearance: none;

        &::-webkit-inner-spin-button {
            display: none;
        }

        &::-webkit-calendar-picker-indicator {
            background: transparent;
            position: absolute;
            opacity: 0;
            left: 0px;
            top: 0px;
            z-index: 100;
            width: 100%;
            height: 100%;
            color: transparent !important;
        }
    }
}

.active-input__texts {
    input[type='date']:after {
        display: none;
    }

    input {
        color: $text !important;
    }
}

.breadcrumb {
    display: flex;
    align-items: center;
    padding: 0px;
    flex-wrap: wrap;
    margin-bottom: 0px;
    border-radius: 0px;
    width: fit-content;
    background-color: transparent;
    padding-top: 25px;

    .active {
        color: $blues !important;
    }

    li {
        position: relative;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            &:after {
                content: "/";
                margin: 0px 8px;
                font-size: 14px;
                line-height: 1;

            }
        }

        a {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #788197;

            &:hover,
            &:focus {
                color: #212121;
            }
        }

    }

}

.pagenigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    >a,
    strong {
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        background-color: #FFFFFF;
        border-radius: 1000px;
        color: #444B5E;
        padding: 2px;
        border: solid 1px #E2E7E9;
        position: relative;

        img {
            transition: all 0.3s;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover,
        &:focus {
            background-color: $blues;
            color: #FFFFFF;
        }
    }

    .active {
        background-color: $blues;
        color: #FFFFFF;
    }

    .prev-end,
    .next-end {
        color: $blues;
    }
}


.sl-btn-alls {
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
        visibility: hidden;
    }

    .group-btns__showss {
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 1px;
        width: 100%;
        z-index: 10;
        top: 50%;
        left: 0px;
        font-size: 24px;
        transform: translateY(-10px);

        .showss-button-prev,
        .showss-button-next {
            transition: all 0.3s;
            position: relative;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            border-radius: 1000px;
            padding: 0px;
            color: #000000;
            font-size: 28px;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

            &:hover,
            &:focus {
                transform: scale(1.2);
            }

        }

        .showss-button-prev {
            left: -60px;
        }

        .showss-button-next {
            right: -60px;
        }

    }

}


.sl-panigation__alls {

    .swiper-pagination {
        .swiper-pagination-bullet {
            margin: 0px !important;
            width: 10px;
            height: 10px;
            border-radius: 1000px;
            border: solid 1px $pinks;
            background-color: #FFFFFF;
            opacity: 1;
            transition: all 0.2s;

            &:not(:last-child) {
                margin-right: 10px !important;
            }

        }

        .swiper-pagination-bullet-active {
            background-color: $pinks;
        }
    }
}

.views-times__alls {
    display: flex;

    li {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 14px;
        color: #84808E;

        &:not(:first-child) {
            padding-left: 15px;
            margin-left: 15px;

            &:before {
                content: "";
                width: 1px;
                height: 15px;
                background-color: #E2E7E9;
                position: absolute;
                left: 0px;
            }
        }

        img {
            width: 16px;
            height: 16px;
            margin-right: 10px;
            object-fit: scale-down;
        }
    }
}


.modals-accounts__alls {
    .modal-dialog {
        max-width: 1180px;

        .modal-content {
            border-radius: 20px;
            padding: 50px;
        }
    }
}

.tops-modals__guides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    position: relative;
    border-bottom: solid 1px #DCDFE4;

    .zoom-btn__modals,
    .task-tops__questions {
        position: absolute;
        width: fit-content;
        height: fit-content;
        left: 0px;
        right: 0px;
        top: 10px;
        margin: auto;
    }


}

.zoom-btn__modals {
    display: flex;

    li {
        &:not(:last-child) {
            padding-right: 10px;
            margin-right: 10px;
            border-right: solid 1px #ECE5E5;
        }
    }
}

.intros-guides__accounts {
    max-width: 630px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.slide-guides__accounts {
    position: relative;

    .swiper-pagination {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        opacity: 0;
        visibility: hidden;
    }

    .group-btns__showss {
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        top: 35%;
        right: 0px;
        margin: auto;
        z-index: 10;
        display: flex;
        justify-content: space-between;

        .showss-button-prev,
        .showss-button-next {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15px;
            height: 30px;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
        }

        .showss-button-prev {
            transform: translateY(-15px) translateX(-70px);
        }

        .showss-button-next {
            transform: translateY(-15px) translateX(70px);

            img {
                transform: rotate(180deg);
            }
        }
    }
}

.items-guides__accounts {
    cursor: pointer;

    .img-guides__accounts {
        position: relative;
        display: flex;
        width: 100%;
        height: 1px;
        padding-top: 70%;
        background-color: #F9F9F9;
        margin-bottom: 25px;
        border-radius: 10px;

        img {
            position: absolute;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
            height: 90%;
            max-height: 360px;
            object-fit: scale-down;
            z-index: 100;
        }
    }
}

.shows-thumb__smalls {
    position: relative;
    display: flex;
    width: 100%;
    height: 1px;
    padding-top: 65%;
    background-color: #F2F2F2;
    margin-bottom: 25px;
    border: solid 2px transparent;
    border-radius: 10px;

    img {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 100;
    }
}

.sl-thums__guides,
.sl-thums__guides2 {
    .swiper-slide-thumb-active {
        .shows-thumb__smalls {
            border: solid 2px #0246AB;
        }
    }
}

.modals-book__alls {

    .modal-content {
        background-color: transparent !important;
        border: 0px !important;
    }

}

.titles-before__mains {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    &:after {
        content: "";
        width: 80px;
        height: 17px;
        background: url(../images/after-titles.svg) no-repeat center;
        background-size: contain;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}

.titles-center__alls {
    text-align: center;
}

.titles-transform__alls {
    text-transform: uppercase;
}

.titles-bold__alls {
    font-family: 'SVN-GilroyBold';
}

.titles-md__alls {
    font-family: 'SVN-GilroyMedium';
}



.fs-14s {
    font-size: 14px;
}

.fs-16s {
    font-size: 16px;
}

.fs-18s {
    font-size: 18px;
}

.fs-20s {
    font-size: 20px;
}

.fs-22s {
    font-size: 22px;
}

.fs-24s {
    font-size: 24px;
}

.fs-40s {
    font-size: 40px;
}

.fs-48s {
    font-size: 48px;
}

.fs-56s {
    font-size: 56px;
}



.mb-5s {
    margin-bottom: 5px;
}

.mb-10s {
    margin-bottom: 10px;
}

.mb-15s {
    margin-bottom: 15px;
}

.mb-20s {
    margin-bottom: 20px;
}

.mb-25s {
    margin-bottom: 25px;
}

.mb-30s {
    margin-bottom: 30px;
}

.mb-35s {
    margin-bottom: 35px;
}

.mb-40s {
    margin-bottom: 40px;
}

.mb-50s {
    margin-bottom: 50px;
}

.mb-60s {
    margin-bottom: 60px;
}

.mb-70s {
    margin-bottom: 70px;
}

.mb-100s {
    margin-bottom: 100px;
}

.mb-120s {
    margin-bottom: 120px;
}

.mb-150s {
    margin-bottom: 150px;
}



.color-blues {
    color: $blues;
}

.color-blues-seconds {
    color: $blues-2;
}


/* :not(:last-child) */
/* :nth-child(1n+0) */

/* end variable */



/* end phonering */