@import 'base';


@media (max-width: 1920.98px) {}

@media (max-width: 1850.98px) {}

@media (max-width: 1800.98px) {}

@media (max-width: 1700.98px) {}

@media (max-width: 1600.98px) {

    body {
        font-size: 15px;
    }

    .fs-14s {
        font-size: 12px;
    }

    .fs-56s {
        font-size: 48px;
    }


    .slide-news__mains .group-btns__showss .showss-button-prev {
        left: -50px;
    }

    .slide-news__mains .group-btns__showss .showss-button-next {
        right: -50px;
    }

    .book-calendar__contacts form .bg-contacts__pages {
        left: 90%;
        z-index: -1;
    }

    .list-sevice__hots .items-sevices__hots>img {
        max-height: 180px;
    }
}

@media (max-width: 1500.98px) {

    .items-news__topics .img-news__topics {
        width: 75px;
    }

    .items-news__topics .intros-news__topics {
        font-size: 14px;
    }


    .items-news__topics .intros-news__topics .names-news__topics {
        font-size: 14px;
    }

    .news-hots__sidebars {
        padding: 15px;
    }

    .items-hots__sidebars .intros-news__topics .names-news__topics {
        font-size: 14px;
    }

    .items-hots__sidebars .intros-news__topics {
        font-size: 14px;
    }

    .items-hots__sidebars {
        .views-times__alls li {
            font-size: 12px;
        }
    }

}

@media (max-width: 1440.98px) {

    .items-news__pages .img-news__pages>a {
        padding-top: 66%;
    }

    .box-left__contacts {
        font-size: 15px;
    }
}

@media (max-width: 1366.98px) {}

@media (max-width: 1365.98px) {

    .gutter-65 {
        margin: 0 -15px;

        &>[class^='col'] {
            padding: 0 15px;
        }
    }

    .gutter-40 {
        margin: 0 -15px;

        &>[class^='col'] {
            padding: 0 15px;
        }
    }

    .gutter-60 {
        margin: 0 -15px;

        &>[class^='col'] {
            padding: 0 15px;
        }
    }

    .gutter-70 {
        margin: 0 -15px;

        &>[class^='col'] {
            padding: 0 15px;
        }
    }

    .gutter-100 {
        margin: 0 -15px;

        &>[class^='col'] {
            padding: 0 15px;
        }
    }

    .gutter-156 {
        margin: 0 -15px;

        &>[class^='col'] {
            padding: 0 15px;
        }
    }

    .gutter-300 {
        margin: 0 -15px;

        &>[class^='col'] {
            padding: 0 15px;
        }
    }

    .fs-14s {
        font-size: 12px;
    }

    .fs-16s {
        font-size: 14px;
    }

    .fs-18s {
        font-size: 16px;
    }

    .fs-20s {
        font-size: 18px;
    }

    .fs-22s {
        font-size: 20px;
    }

    .fs-24s {
        font-size: 22px;
    }

    .fs-40s {
        font-size: 36px;
    }

    .fs-48s {
        font-size: 42px;
    }

    .fs-56s {
        font-size: 48px;
    }

    .mb-25s {
        margin-bottom: 15px;
    }

    .mb-30s {
        margin-bottom: 20px;
    }

    .mb-35s {
        margin-bottom: 25px;
    }

    .mb-40s {
        margin-bottom: 30px;
    }

    .mb-50s {
        margin-bottom: 35px;
    }

    .mb-60s {
        margin-bottom: 40px;
    }

    .mb-70s {
        margin-bottom: 50px;
    }

    .mb-100s {
        margin-bottom: 60px;
    }

    .mb-120s {
        margin-bottom: 70px;
    }

    .mb-150s {
        margin-bottom: 80px;
    }

    .menu-desktop>ul>li:not(:last-child) {
        margin-right: 25px;
    }


    .slide-news__mains .group-btns__showss .showss-button-prev {
        display: none;
    }

    .slide-news__mains .group-btns__showss .showss-button-next {
        display: none;
    }


    .btn-blues__alls,
    .btn-blues__alls,
    .btn-blues__second,
    .btn-oranges__alls,
    .btn-greys__alls,
    .btn-blues__trans {
        min-height: 40px;
        font-size: 14px;
    }

    .list-sevice__navs li a {
        min-height: 75px;
    }

}

@media (max-width: 1199.98px) {

    .items-news__pages .img-news__pages>a {
        padding-top: 63%;
    }

    .phones-rights__headers {
        display: none;
    }

    .book-mains {
        padding: 60px 0px;
    }

    .why-me__mains {
        padding: 60px 0px;
    }

    .custoner-experience {
        padding: 60px 0px;
    }

    .news-mains {
        padding: 60px 0px;
    }

    .slide-customer__mains .group-btns__showss .showss-button-prev {
        left: -30px;
    }

    .slide-customer__mains .group-btns__showss .showss-button-next {
        right: -30px;
    }

    .bottom-footers {
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .top-footers {
        padding: 50px 0px;
    }

    .list-nav__footers li:not(:last-child) {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .news-topic__sidebars {
        padding: 15px;
    }

    .news-hots__sidebars {
        padding: 15px;
    }

    .items-news__topics .img-news__topics {
        width: 65px;
    }

    .items-hots__sidebars .img-news__topics {
        width: 65px;
    }

    .items-news__pages {
        padding: 15px;
    }

    .price-your__care {
        padding: 40px 0px;
    }

    .book-calendar__contacts {
        padding: 50px 0px;
    }

    .list-sevice__hots .items-sevices__hots>img {
        max-height: 135px;
    }

    .list-sevice__hots .items-sevices__hots {
        border-radius: 10px;
    }

}

@media (max-width: 991.98px) {


    .fs-14s {
        font-size: 10px;
    }

    .fs-16s {
        font-size: 12px;
    }

    .fs-18s {
        font-size: 14px;
    }

    .fs-20s {
        font-size: 16px;
    }

    .fs-22s {
        font-size: 18px;
    }

    .fs-24s {
        font-size: 20px;
    }

    .fs-40s {
        font-size: 32px;
    }

    .fs-48s {
        font-size: 36px;
    }

    .fs-56s {
        font-size: 40px;
    }

    .mb-25s {
        margin-bottom: 10px;
    }

    .mb-30s {
        margin-bottom: 15px;
    }

    .mb-35s {
        margin-bottom: 20px;
    }

    .mb-40s {
        margin-bottom: 25px;
    }

    .mb-50s {
        margin-bottom: 30px;
    }

    .mb-60s {
        margin-bottom: 35px;
    }

    .mb-70s {
        margin-bottom: 40px;
    }

    .mb-100s {
        margin-bottom: 50px;
    }

    .mb-120s {
        margin-bottom: 60px;
    }

    .mb-150s {
        margin-bottom: 70px;
    }

    /* header */

    .menu-desktop {
        display: none;
    }

    .close-menu-btn {
        position: fixed;
        top: 20px;
        right: 20px;
        color: white;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        width: 20px;
        height: 20px;
    }

    .close-menu-btn:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        transform: rotate(45deg);
        top: 10px;
        left: 0;
        background-color: white;
    }

    .close-menu-btn:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        transform: rotate(-45deg);
        top: 10px;
        left: 0;
        background-color: white;
    }

    .main-menu-mobile {
        li {
            &:after {
                display: none;
            }
        }
    }

    .logo-menu__mobile {
        display: block;
    }

    .intros-center__headers {
        display: none;
    }


    .button-phone {
        display: flex;
        cursor: pointer;
        width: 35px;
        height: 35px;
        min-width: 35px;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: solid 2px transparent;
        border-radius: 5px;
        z-index: 1;
        margin-left: 20px;
    }

    .bottom-headers>.container {
        position: relative;
    }

    .menu-phones {
        display: block;
    }

    .bottom-headers {
        padding: 0px;
        border: 0px;
    }

    .right-headers:before {
        display: none;
    }

    .right-headers {
        padding-left: 0px;
        margin-left: 0px;
    }

    .header .container {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .book-videos__mains .btn-book__videos {
        right: 100px;
        bottom: 15%;
    }

    .items-why__mains {
        margin-bottom: 50px;
    }

    .text-padding__abouts {
        margin-bottom: 30px;
    }

    .slide-customer__mains .group-btns__showss .showss-button-prev {
        display: none;
    }

    .slide-customer__mains .group-btns__showss .showss-button-next {
        display: none;
    }

    .bottom-footers {
        display: none;
    }

    .top-footers {
        .row {
            &>[class^='col'] {
                margin-bottom: 20px;
            }
        }
    }

    .top-footers {
        padding: 20px 0px;
    }

    .about-mains {
        padding: 50px 0px;
    }

    .list-sevice__hots .items-sevices__hots>img {
        max-height: 135px;
    }

    .list-sevice__hots .items-sevices__hots .intros-sevice__hots {
        display: none;
    }

    .views-times__alls li {
        font-size: 12px;
    }

    .views-times__alls li:not(:first-child) {
        padding-left: 5px;
        margin-left: 5px;
    }

    .videos-about__pages .videos-about__mains {
        transform: translateY(50px);
    }

    .slide-abouts__visions {
        margin-bottom: 30px;
    }

    .intros-prices__lists {
        .row {
            &:first-child {
                &>[class^='col'] {
                    &:not(:first-child) {
                        display: none;
                    }
                }
            }
        }
    }

    .list-price__cares li {
        padding-top: 15px;
        margin-top: 15px;
    }

    .news-hots__sidebars {
        margin-bottom: 30px;
    }

    .items-news__pages .img-news__pages {
        width: 250px;
    }

    .bottom-news__details {
        margin-bottom: 30px;
    }

    .list-sevice__navs {
        overflow-x: auto;
        flex-wrap: nowrap !important;
        overflow-y: hidden;

        li {
            min-width: 150px;
            max-width: fit-content;
            width: auto;
        }
    }

    .list-sevice__navs::-webkit-scrollbar {
        display: none;
    }

    .list-sevice__navs::-webkit-scrollbar-track {
        display: none;
    }

    .list-sevice__navs::-webkit-scrollbar-thumb {
        display: none;
    }

    .list-sevice__hots .items-sevices__hots>img {
        max-height: 110px;
    }

}

@media (max-width: 767.98px) {

    .items-news__pages .img-news__pages {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 15px;
    }


    .videos-about__mains .btn-videos__abouts {
        width: 90px;
        height: 90px;
    }

    .items-news__mains .intros-news__mains {
        padding: 10px 15px;
    }

    .intros-prices__lists {
        text-align: center;

        .row {
            &>[class^='col'] {
                padding: 5px;
            }
        }
    }

    .list-sevice__hots .items-sevices__hots>img {
        max-height: 80px;
    }

}

@media (max-width: 575.98px) {}


@media (max-width: 375.98px) {}