@import 'base';

.items-news__hots {
    .img-news__hots {
        >a {
            position: relative;
            display: flex;
            width: 100%;
            height: 1px;
            padding-top: 58%;
            overflow: hidden;
            border-radius: 20px;

            img {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .intros-news__hots {
        .names-news__hots {
            color: $blues-2;
            display: flex;

            &:hover,
            &:focus {}
        }

        .views-times__alls {
            li {
                img {
                    filter: brightness(0) saturate(100%) invert(68%) sepia(58%) saturate(549%) hue-rotate(348deg) brightness(96%) contrast(102%);
                }
            }
        }

        p {
            color: #788197;
        }
    }
}

.list-news__pages {
    padding-top: 40px;
    margin-top: 40px;
    border-top: solid 1px #E2E7E9;
}


.items-news__pages {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    background: #FCFCFC;
    border: 1px solid #E2E7E9;
    border-radius: 20px;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    .img-news__pages {
        width: 350px;
        margin-right: 40px;

        >a {
            position: relative;
            display: flex;
            width: 100%;
            height: 1px;
            padding-top: 63%;
            overflow: hidden;
            border-radius: 20px;

            img {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .intros-news__pages {
        width: 100%;
        flex: 1;

        .names-news__pages {
            display: flex;
            color: $blues-2;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3 !important;
            overflow: hidden;
            max-height: 100% !important;
        }
    }
}

.news-topic__sidebars {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #E2E7E9;
    box-shadow: 0px 5px 20px rgba(6, 34, 50, 0.15);
    border-radius: 20px;
}


.items-news__topics {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    .img-news__topics {
        width: 100px;
        margin-right: 10px;

        >a {
            position: relative;
            display: flex;
            width: 100%;
            height: 1px;
            padding-top: 100%;

            img {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .intros-news__topics {
        width: 100%;
        flex: 1;

        .names-news__topics {
            display: flex;
            color: #0C2054;

            &:hover,
            &:focus {}
        }

        p {
            color: #788197;
        }
    }
}

.news-hots__sidebars {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #E2E7E9;
    border-radius: 20px;
}

.items-hots__sidebars {
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    .img-news__topics {
        width: 80px;
        margin-right: 10px;

        >a {
            position: relative;
            display: flex;
            width: 100%;
            height: 1px;
            padding-top: 100%;

            img {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .intros-news__topics {
        width: 100%;
        flex: 1;

        .names-news__topics {
            display: flex;

            &:hover,
            &:focus {
                color: $blues;
                text-decoration: underline !important;
            }
        }

        .views-times__alls {
            li img {
                filter: brightness(0) saturate(100%) invert(68%) sepia(58%) saturate(549%) hue-rotate(348deg) brightness(96%) contrast(102%);
            }
        }
    }
}

.app-footers__details {
    display: flex;

    li {

        &:not(:last-child) {
            margin-right: 15px;
        }

        a {
            display: flex;

            &:hover,
            &:focus {
                img {
                    transform: roatate(1.1);
                }
            }

            img {
                width: 32px;
                height: 32px;
                object-fit: scale-down;
                transition: all 0.3s;
            }
        }
    }

}

.names-mains__details {
    display: flex;
    color: $blues-2;

    &:hover,
    &:focus {
        color: $blues;
    }
}

.bottom-news__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: solid 1px #E2E7E9;
    margin-top: 30px;
    padding-top: 30px;
}


.content-news__pages {
    .views-times__alls {
        li {
            img {
                filter: brightness(0) saturate(100%) invert(80%) sepia(62%) saturate(1749%) hue-rotate(333deg) brightness(100%) contrast(94%);
            }
        }
    }
}